{%
  include "date-picker.html"
  required
  input_name: "reservation-date"
  label_text: "Choose the date that you'd like to reserve a tour"
  error_message: date_picker.error_message
%}

{%
  include "combo-box.html"
  required
  dropdown: zebra.tour_options
  input_name: "tour-type"
  label_text: "Choose the tour you'd like to reserve"
%}

{% include "zebra/time-picker.html" %}

{%
  include "zebra/character-count.html"
  label_text: "List any accommodations your group might need during your tour. (optional)"
  error_message: character_count.error_message
%}

{% include "zebra/submit.html" %}

<script>
  /**
   * Simple check to ensure text inputs aren't empty.
   * Validating other form elements will need additional work.
   */
  window.addEventListener("DOMContentLoaded", () => {
    const requiredInputs = document.querySelectorAll("[required]");
    const submitButton = document.querySelector("input[type='submit']");

    let enableSubmit = false;

    function getFormstate() {
      requiredInputs.forEach(input => {
        let inputValue = input.value.trim();

        enableSubmit = inputValue !== '' ? true : false;
      })

      submitButton.disabled = !enableSubmit;
    }

    requiredInputs.forEach(input => input.addEventListener("change", getFormstate));
  });
</script>
