{%
  include "date-picker.html"
  required
  input_name: "reservation-date"
  label_text: "Choose the date that you'd like to reserve a tour"
  error_message: date_picker.error_message
%}

{%
  include "combo-box.html"
  required
  dropdown: zebra.tour_options
  input_name: "tour-type"
  label_text: "Choose the tour you'd like to reserve"
%}

{% include "zebra/time-picker.html" %}

{%
  include "zebra/character-count.html"
  label_text: "List any accommodations your group might need during your tour. (optional)"
  error_message: character_count.error_message
%}

