<footer class="usa-footer usa-footer--big">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <h2>Contact Us</h2>
      <ul class="usa-icon-list">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="/assets/img/sprite.svg#phone"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">
            Call us at 555-444-3333
          </div>
        </li>
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="/assets/img/sprite.svg#mail_outline"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">Email us at purplestone@parks.gov</div>
        </li>
      </ul>
    </div>
  </div>
</footer>
