  <fieldset class="usa-fieldset">
    <legend class="usa-legend">
      I certify that I read, understand, and agree to the Purplestone National Park's
      <a href="">rules of conduct and environmental stewardship</a>.
    </legend>
    <div class="usa-radio">
      <label class="usa-radio__label">
        <input
          class="usa-radio__input"
          id="agree"
          type="radio"
          name="conduct"
          value="agree"
          required
        />
        I agree.
      </label>
    </div>
    <div class="usa-radio">
      <label class="usa-radio__label">
        <input
          class="usa-radio__input"
          id="dont-agree"
          type="radio"
          name="conduct"
          value="dont-agree"
          required
        />
        I DO NOT agree (you will not be able to reserve if so).
      </label>
    </div>
  </fieldset>


  <input type="submit">
