.sass-cache
.jekyll-metadata
assets/img
assets/css
assets/fonts
assets/js
node_modules
.gz
.DS_Store
_site
.jekyll-cache
_site/assets
src/assets/img
src/assets/css
src/assets/fonts
src/assets/js
node_modules
