---
layout: default
---

<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="{{ site.baseurl }}assets/img/us_flag_small.png" alt="U.S. flag" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">An official website of the United States government</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}assets/img/icon-dot-gov.svg"
            role="img" alt="" />
          <div class="usa-media-block__body">
            <p>
              <strong> Official websites use .gov </strong>
              <br />
              A <strong>.gov</strong> website belongs to an official government organization in the
              United States.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}assets/img/icon-https.svg"
            role="img" alt="" />
          <div class="usa-media-block__body">
            <p>
              <strong> Secure .gov websites use HTTPS </strong>
              <br />
              A <strong>lock</strong> (
              <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64"
                  class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description">
                  <title id="banner-lock-title">Lock</title>
                  <desc id="banner-lock-description">A locked padlock</desc>
                  <path fill="#000000" fill-rule="evenodd"
                    d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z" />
                </svg></span>
              ) or <strong>https://</strong> means you’ve safely connected to the .gov website.
              Share sensitive information only on official, secure websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include site-alert.html %}

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ site.baseurl }}" title="Home" aria-label="Home">Zombie
          Preparedness</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="{{ site.baseurl }}assets/img/close.svg" role="img" alt="close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false"
            aria-controls="extended-nav-section-one">
            <span>Current section</span>
          </button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="extended-nav-section-two">
            <span>Section</span>
          </button>
          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#" class=""> Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>Simple link</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="signin.html">Sign in</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="create-account.html">Join</a>
          </li>
        </ul>
        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
          <input class="usa-input" id="extended-search-field-small" type="search" name="search" />
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <!-- <div class="usa-layout-docs__sidenav desktop:grid-col-3">
        <nav aria-label="Secondary navigation">
          <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
              <a href="">Parent link</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="" class="usa-current">Current page</a>
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  <a href="">Child link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="" class="usa-current">Child link</a>
                  <ul class="usa-sidenav__sublist">
                    <li class="usa-sidenav__item">
                      <a href="">Grandchild link</a>
                    </li>
                    <li class="usa-sidenav__item">
                      <a href="">Grandchild link</a>
                    </li>
                    <li class="usa-sidenav__item">
                      <a href="" class="usa-current">Grandchild link</a>
                    </li>
                    <li class="usa-sidenav__item">
                      <a href="">Grandchild link</a>
                    </li>
                  </ul>
                </li>
                <li class="usa-sidenav__item">
                  <a href="">Child link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="">Child link</a>
                </li>
                <li class="usa-sidenav__item">
                  <a href="">Child link</a>
                </li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              <a href="">Parent link</a>
            </li>
          </ul>
        </nav>
      </div> -->
      <div class="in-page-nav-container">
        <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
          <h1>Preparedness 101: Zombie Preparedness</h1>
          <h2>A brief history of zombies</h2>
          <div class="line-height-sans-3 font-body-2xs">
            "Preparedness 101: Zombie Apocalypse" by
            <a class="usa-link" href="http://blogs.cdc.gov/publichealthmatters/authors/ali-s-khan">Ali S. Khan</a>,
            <a class="usa-link" href="http://cdc.gov/">Centers for Disease Control and Prevention</a>
            is in the
            <a class="usa-link" href="https://wiki.creativecommons.org/Public_domain">Public Domain</a>
            / A derivative from the
            <a class="usa-link" href="https://www.amc.com/twdu/the-walking-dead">original work</a>
          </div>

          {% include summary-box.html %}

          <p>
            We’ve all seen at least one movie about flesh-eating zombies taking over (my personal
            favorite is Resident Evil), but where do zombies come from and why do they love eating
            brains so much? The word zombie comes from Haitian and New Orleans voodoo origins.
            Although its meaning has changed slightly over the years, it refers to a human corpse
            mysteriously reanimated to serve the undead. Through ancient voodoo and folk-lore
            traditions, shows like the Walking Dead were born.
          </p>

          <p>
            In movies, shows, and literature, zombies are often depicted as being created by an
            infectious virus, which is passed on via bites and contact with bodily fluids. Harvard
            psychiatrist Steven Schlozman wrote a (fictional) medical paper on the zombies presented
            in Night of the Living Dead and refers to the condition as Ataxic Neurodegenerative
            Satiety Deficiency Syndrome caused by an infectious agent. The Zombie Survival Guide
            identifies the cause of zombies as a virus called solanum. Other zombie origins shown in
            films include radiation from a destroyed NASA Venus probe (as in Night of the Living
            Dead), as well as mutations of existing conditions such as prions, mad-cow disease,
            measles and rabies.
          </p>

          <h2>Budget</h2>

          <p>
            The rise of zombies in pop culture has given credence to the idea that a zombie apocalypse
            could happen. In such a scenario zombies would take over entire countries, roaming city
            streets eating anything living that got in their way. The proliferation of this idea has
            led many people to wonder “How do I prepare for a zombie apocalypse?”
          </p>

          <p>
            Well, we’re here to answer that question for you, and hopefully share a few tips about
            preparing for real emergencies too!
          </p>

          <a name="usa-anchor-emergency-contacts"></a>
          <h2>Zombie Preparedness Team emergency contacts</h2>

          {% include tables.html %}

          <h2>Better safe than sorry</h2>

          <p>
            So what do you need to do before zombies…or hurricanes for example, actually happen? First
            of all, you should have an emergency kit in your house. This includes things like water,
            food, and other supplies to get you through the first couple of days before you can locate
            a zombie-free refugee camp (or in the event of a natural disaster, it will buy you some
            time until you are able to make your way to an evacuation shelter or utility lines are
            restored). Below are a few items you should include in your kit.
          </p>

          <a name="usa-anchor-emergency-plan"></a>
          <h2>Emergency plan</h2>

          {% include process-list.html %}

          <p>
            Once you’ve made your emergency kit, you should sit down with your family and come up with
            an emergency plan. This includes where you would go and who you would call if zombies
            started appearing outside your door step. You can also implement this plan if there is a
            flood, earthquake, or other emergency.
          </p>

          <a name="usa-anchor-emergency-supplies"></a>
          <h2>Disaster or blackout emergency supplies</h2>

          {% include icon-list.html %}

          <h2>If you need to evacuate</h2>

          <div class="border-2px border-base-lighter padding-2 radius-md maxw-tablet">
            <div class="grid-row grid-gap-lg">
              <div class="tablet:grid-col">
                <h3 class="margin-top-0 line-height-sans-2">Do:</h2>
                  <ul class="usa-icon-list usa-icon-list--primary">
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#check_circle"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">
                        Keep a full tank of gas in your car if an evacuation seems likely. Gas stations
                        may be closed during emergencies and unable to pump gas during power outages
                      </div>
                    </li>
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#check_circle"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">Gather your disaster supplies kit</div>
                    </li>
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#check_circle"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">Follow recommended evacuation routes</div>
                    </li>
                  </ul>
              </div>
              <div class="tablet:grid-col margin-top-4 tablet:margin-top-0">
                <h3 class="margin-top-0 line-height-sans-2">Do not:</h2>
                  <ul class="usa-icon-list usa-icon-list--error">
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#cancel"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">
                        Delay - gather your family and go if you are instructed to evacuate immediately
                      </div>
                    </li>
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#cancel"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">
                        Take shortcuts instead of recommended evacuation routes; they may be blocked
                      </div>
                    </li>
                    <li class="usa-icon-list__item">
                      <div class="usa-icon-list__icon">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#cancel"></use>
                        </svg>
                      </div>
                      <div class="usa-icon-list__content">
                        Drive into flooded areas or areas with downed power lines.
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>

          <small>Source:
            <a class="usa-link" href="https://www.fema.gov/pdf/areyouready/areyouready_full.pdf">Are you ready?</a>
            [PDF - 1 MB] -
            <svg class="usa-icon bottom-neg-2px" aria-hidden="true" role="img">
              <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#public"></use>
            </svg>
            fema.gov
          </small>

          <h2>Never fear – the Zombie Preparedness Team is ready</h2>

          <p>
            If zombies did start roaming the streets, the Zombie Preparedness Team would conduct an
            investigation much like any other disease outbreak. the Zombie Preparedness Team would
            provide technical assistance to cities, states, or international partners dealing with a
            zombie infestation. This assistance might include consultation, lab testing and analysis,
            patient management and care, tracking of contacts, and infection control (including
            isolation and quarantine). It’s likely that an investigation of this scenario would seek
            to accomplish several goals: determine the cause of the illness, the source of the
            infection/virus/toxin, learn how it is transmitted and how readily it is spread, how to
            break the cycle of transmission and thus prevent further cases, and how patients can best
            be treated. Not only would scientists be working to identify the cause and cure of the
            zombie outbreak, but the Zombie Preparedness Team and other federal agencies would send
            medical teams and first responders to help those in affected areas (I will be volunteering
            the young nameless disease detectives for the field work).
          </p>

          <h2>Zombie Preparedness Team emergency response links</h2>

          <ul class="usa-collection usa-collection--condensed">
            <li class="usa-collection__item">
              <div class="usa-collection__body">
                <h3 class="usa-collection__heading">
                  <a class="usa-link" href="https://emergency.cdc.gov/hazards-specific.asp">Learn more about what the
                    Zombie Preparedness Team recommends to prepare for and
                    respond to emergencies of all kinds</a>
                  </h2>
                  <ul class="usa-collection__meta" aria-label="More information">
                    <li class="usa-collection__meta-item position-relative">
                      <svg class="usa-icon bottom-neg-2px" aria-hidden="true" role="img">
                        <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#public"></use>
                      </svg>
                      emergency.cdc.gov
                    </li>
                  </ul>
              </div>
            </li>
            <li class="usa-collection__item">
              <div class="usa-collection__body">
                <h3 class="usa-collection__heading">
                  <a class="usa-link" href="http://emergency.cdc.gov/">Learn more about how you can prepare for and stay
                    safe during an emergency</a>
                  </h2>
                  <ul class="usa-collection__meta" aria-label="More information">
                    <li class="usa-collection__meta-item position-relative">
                      <svg class="usa-icon bottom-neg-2px" aria-hidden="true" role="img">
                        <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#public"></use>
                      </svg>
                      emergency.cdc.gov
                    </li>
                  </ul>
              </div>
            </li>
            <li class="usa-collection__item">
              <div class="usa-collection__body">
                <h3 class="usa-collection__heading">
                  <a class="usa-link" href="https://www.cdc.gov/cpr/zombie/educate-kit.htm">Learn what items you should
                    include in your Emergency Kit</a>
                  </h2>
                  <ul class="usa-collection__meta" aria-label="More information">
                    <li class="usa-collection__meta-item position-relative">
                      <svg class="usa-icon bottom-neg-2px" aria-hidden="true" role="img">
                        <use xlink:href="{{ site.baseurl }}dist/img/sprite.svg#public"></use>
                      </svg>
                      cdc.gov
                    </li>
                  </ul>
              </div>
            </li>
          </ul>

          <a name="usa-anchor-zombie-preparedness-team"></a>
          <p>
            <a href="create-profile.html" class="usa-button margin-top-2">Create your profile with the team now</a>
          </p>
        </main>
      
        <div id="in-page-navigation" class="in-page-navigation">
          <p class="site-subheading">On this page</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function ready(fn) {
    document.addEventListener("DOMContentLoaded", fn, false);
  }

  ready(() => {
    const headings = document.querySelectorAll(
      "#main-content h2"
    );
    const motionQuery = window.matchMedia("(prefers-reduced-motion)");
    const InPageNavigation = {
      container: document.querySelector(".in-page-navigation"),
      links: null,
      headings: null,
      intersectionOptions: {
        root: null,
        rootMargin: "0px",
        threshold: 1,
      },
      previousSection: null,
      observer: null,
      init() {
        this.createInPageNav();
        this.handleObserver = this.handleObserver.bind(this);
        this.setUpObserver();
        this.findLinksAndHeadings();
        this.observeSections();
        this.links.forEach((link) => {
          link.addEventListener("click", this.handleLinkClick.bind(this));
        });
      },
      createInPageNav() {
        if (headings) {
          let inPageNavigationInner = "";
          headings.forEach((heading, i) => {
            let tag = heading.tagName.toLowerCase();
            inPageNavigationInner += `<li class="usa-in-page-navigation__item${tag === "h3" ? " padding-left-2" : ""
              }"><a href="#section_${i}">${heading.textContent}</a></li>`;
            const originalHeadingContent = heading.innerHTML;
            const anchor = `<a class="offset-anchor" id="section_${i}"></a>`;
            heading.innerHTML = anchor + originalHeadingContent;
          });
          const inPageNav = `<ul class="usa-in-page-navigation usa-sidenav">${inPageNavigationInner}</ul>`;
          // add the generated table of content to the div
          document.querySelector("#in-page-navigation").innerHTML += inPageNav;
          // automatically go to the correct section on load
          if (location.hash) {
            const target = location.hash;
            const offsetY = document.querySelector(target).offsetTop;
            window.scrollTo(0, offsetY);
          }
        }
      },
      handleLinkClick(evt) {
        evt.preventDefault();
        let id = evt.target.hash.replace("#", "");
        let section = this.headings.find((heading) => {
          return heading.getAttribute("id") === id;
        });
        section.setAttribute("tabindex", -1);
        //section.focus();
        window.scroll({
          behavior: motionQuery.matches ? "instant" : "smooth",
          top: section.offsetTop + 140,
          block: "start",
        });
        if (this.container.classList.contains("usa-current")) {
          this.container.classList.remove("usa-current");
        }
      },
      handleObserver(entries, observer) {
        entries.forEach((entry) => {
          let href = `#${entry.target.getAttribute("id")}`,
            link = this.links.find((l) => l.getAttribute("href") === href);
          if (entry.isIntersecting && entry.intersectionRatio >= 1) {
            link.classList.add("is-visible");
            this.previousSection = entry.target.getAttribute("id");
          } else {
            link.classList.remove("is-visible");
          }
          this.highlightFirstActive();
        });
      },
      highlightFirstActive() {
        let firstVisibleLink = this.container.querySelector(".is-visible");
        this.links.forEach((link) => {
          link.classList.remove("usa-current");
        });
        if (firstVisibleLink) {
          firstVisibleLink.classList.add("usa-current");
        }
        if (!firstVisibleLink && this.previousSection) {
          this.container
            .querySelector(`a[href="#${this.previousSection}"]`)
            .classList.add("usa-current");
        }
      },
      observeSections() {
        if (headings) {
          this.headings.forEach((heading) => {
            this.observer.observe(heading);
          });
        }
      },
      setUpObserver() {
        this.observer = new IntersectionObserver(
          this.handleObserver,
          this.intersectionOptions
        );
      },
      findLinksAndHeadings() {
        this.links = [...this.container.querySelectorAll("a")];
        this.headings = this.links.map((link) => {
          let id = link.getAttribute("href");
          return document.querySelector(id);
        });
      },
    };
    InPageNavigation.init();
  });
</script>