---
layout: default
---

{% include skipnav.html %}
{% include banner.html %}
{% include site-alert.html %}
{% include header.html %}

<main id="main-content">
  {% include hero.html %}
  {% include section--home.html %}
  <section class="usa-section padding-bottom-6 padding-top-0">
    <div class="grid-container">
      <div class="bg-accent-warm-lightest radius-lg padding-2 tablet:padding-4">
        <h2 class="margin-top-0">Preparedness checklist</h2>
        {% include icon-list--lg.html %}
      </div>
    </div>
  </section>
  {% include collection.html %}
  {% include section--home-cta.html %}
</main>