---
layout: default
---

{% include skipnav.html %}
{% include banner.html %}
{% include site-alert.html %}

<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ site.baseurl }}/" title="Home" aria-label="Home">Zombie Preparedness</a></em>
    </div>
  </div>
</header>

<main id="main-content">
  <div class="bg-base-lightest">
    <section class="grid-container usa-section">
      <div class="grid-row margin-x-neg-205 flex-justify-center">
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
          <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">Get started with the Zombie Preparedness Team.</h1>
          <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
            <h2 class="margin-bottom-0 font-heading-xl margin-top-1">Create account</h2>
            <form class="usa-form">

              <p>Create an account with the Zombie Preparedness Team and we’ll contact you for next steps.</p>
              <!-- <fieldset class="usa-fieldset">
                <legend class="usa-legend margin-top-1">Get started with the Zombie Preparedness Team.</legend> -->
              <p>Required fields are marked with an asterisk (<abbr title="required" class="usa-hint usa-hint--required">*</abbr>).
              </p>
              <label class="usa-label" for="email">Email address <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
              {% include input--prefix.html %}

              <label class="usa-label" for="password-create-account">Create password <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
              <input class="usa-input" id="password-create-account" name="password" type="password" required>

              <p class="usa-form__note">
                <a title="Show password" href="javascript:void(0);" class="usa-show-password" aria-controls="password-create-account">Show password</a>
              </p>

              <fieldset class="usa-fieldset margin-top-3 width-full">
                <legend class="usa-legend">Self-identify by specialty <abbr title="required" class="usa-hint usa-hint--required">*</abbr></legend>
                <div class="usa-radio">
                  <input class="usa-radio__input usa-radio__input--tile" id="identity-emr-emt-paramedic" type="radio" name="identity-specialty" value="emr-emt-paramedic">
                  <label class="usa-radio__label" for="identity-emr-emt-paramedic">EMR/EMT/Paramedic</label>
                </div>
                <div class="usa-radio">
                  <input class="usa-radio__input usa-radio__input--tile" id="identity-firefighter" type="radio" name="identity-specialty" value="firefighter">
                  <label class="usa-radio__label" for="identity-firefighter">Firefighter</label>
                </div>
                <div class="usa-radio">
                  <input class="usa-radio__input usa-radio__input--tile" id="identity-police-officer" type="radio" name="identity-specialty" value="police-officer">
                  <label class="usa-radio__label" for="identity-police-officer">Police officer</label>
                </div>
                <div class="usa-radio">
                  <input class="usa-radio__input usa-radio__input--tile" id="identity-concerned-citizen" type="radio" name="identity-specialty" value="concerned-citizen">
                  <label class="usa-radio__label" for="identity-concerned-citizen">Concerned citizen</label>
                </div>
              </fieldset>

              <fieldset class="usa-fieldset width-full margin-top-2">
                <legend class="usa-legend">Height</legend>
                <p class="usa-hint margin-top-05">We’ll use this information to help assign you to a vehicle.</p>
                {% include input--suffix.html %}
              </fieldset>

             {% include modal--trigger.html %}

              <input class="usa-button" type="submit" value="Create account">
              <!-- </fieldset> -->
            </form>
          </div>
          <p class="text-center desktop:text-left">Already have an account? <a class="usa-link" href="signin.html">Sign in</a>.</p>

        </div>
        <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
          <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">

            <h2 class="display-none desktop:display-block">The Zombie Preparedness Team is your key to surviving zombies.</h2>
            <div class="usa-prose">
              <p>The <strong>Zombie Preparedness Team</strong> provides technical assistance to cities, states, or international partners
                dealing with a zombie infestation. Zombie Preparedness Team members are on the frontline, helping the Zombie Preparedness Team
                scientists work to identify the cause and cure of the zombie outbreak, and helping those in affected areas </p>
              <section class="usa-graphic-list">
                <div class="usa-graphic-list__row">
                  <div class="usa-media-block margin-y-2">
                    <div class="usa-media-block__body">
                      <p><strong>Determine root cause:</strong> help identify the source of the infection/virus/toxin.</p>
                    </div>
                  </div>
                  <div class="usa-media-block margin-y-2">
                    <div class="usa-media-block__body">
                      <p><strong>Break the cycle:</strong> learn how it is transmitted and how readily it is spread, and prevent further cases.</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="border-top border-base-lighter margin-top-3 padding-top-1">
              <h2>Are you a federal employee?</h2>
              <div class="usa-prose">
                <p>If you are a federal employee, please use <a href="https://login.gov" class="usa-link"><strong>Login.gov</strong></a></p>
                <p><a class="usa-button usa-button--outline" href="https://login.gov">Launch Login.gov</a></p>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</main>

{% include modal--window.html %}
