---
layout: default
---

{% include skipnav.html %}
{% include banner.html %}
{% include site-alert.html %}

<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ site.baseUrl }}/" title="Home" aria-label="Home">Zombie Preparedness</a></em>
    </div>
  </div>
</header>

<main id="main-content">
  <div class="bg-base-lightest">
    <section class="grid-container usa-section">
      <div class="grid-row flex-justify-center">
        <div class="grid-col-12 tablet:grid-col-8 desktop:grid-col-6">
          <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
            <h1 class="margin-bottom-0">Sign in</h1>
            <form class="usa-form">
              <fieldset class="usa-fieldset">
                <legend class="usa-legend margin-top-1">Access your account.</legend>
                <label class="usa-label" for="email">Email address</label>
                <input class="usa-input" id="email" name="email" type="email" autocapitalize="off" autocorrect="off" required />
                <label class="usa-label" for="password-sign-in">Password</label>
                <input class="usa-input" id="password-sign-in" name="password" type="password" required />
                <p class="usa-form__note">
                  <a title="Show password" href="javascript:void(0);" class="usa-show-password" aria-controls="password-sign-in">Show password</a>
                </p>
                <input class="usa-button" type="submit" value="Sign in" />
                <p><a href="javascript:void(0);" title="Forgot password"> Forgot password?</a></p>
              </fieldset>
            </form>
          </div>
          <p class="text-center">
            Don’t have an account?
            <a class="usa-link" href="create-account.html">Create your account now</a>.
          </p>
          <div class="border-top border-base-lighter margin-top-3 padding-top-1">
            <h2>Are you a federal employee?</h2>
            <div class="usa-prose">
              <p>
                If you are a federal employee, please use
                <a href="https://login.gov" class="usa-link"><strong>Login.gov</strong></a>
              </p>
              <p>
                <a class="usa-button usa-button--outline" href="https://login.gov">Launch Login.gov</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>