<section class="usa-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Zombies:</span> A call to preparedness
      </h1>
      <p>Learn what do you need to do before zombies arrive in your community.</p>
      <a class="usa-button width-full" href="preparedness-101.html">Get prepared</a>
      <a class="usa-button width-full usa-button--accent-warm margin-top-2" href="join.html">Join the team</a>
    </div>
  </div>
</section>
