<ul class="usa-icon-list usa-icon-list--size-lg usa-icon-list--success">
  <li class="usa-icon-list__item border-top-1px padding-top-1">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Water:</strong> 1 gallon per person per day
    </div>
  </li>
  <li class="usa-icon-list__item border-top-1px padding-top-1 margin-top-1">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Food:</strong> stock up on non-perishable items that you eat regularly
    </div>
  </li>
  <li class="usa-icon-list__item border-top-1px padding-top-1 margin-top-1">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Medications:</strong> this includes prescription and non-prescription meds
    </div>
  </li>
</ul>