<ul class="usa-icon-list usa-icon-list--size-4 usa-icon-list--success">
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Water:</strong> 1 gallon per person per day
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Food:</strong> stock up on non-perishable items that you eat regularly
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Medications:</strong> this includes prescription and non-prescription meds
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Tools and Supplies:</strong> utility knife, duct tape, battery powered radio,
      etc.
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Sanitation and Hygiene:</strong> household bleach, soap, towels, etc.
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Clothing and Bedding:</strong> a change of clothes for each family member and
      blankets
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Important documents:</strong> copies of your driver’s license, passport, and
      birth certificate to name a few
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>First Aid supplies:</strong> although you’re a goner if a zombie bites you,
      you can use these supplies to treat basic cuts and lacerations that you might get
      during a tornado or hurricane
    </div>
  </li>
</ul>


<!-- <ul class="usa-icon-list usa-icon-list--size-4 usa-icon-list--success">
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Water:</strong> 1 gallon per person per day
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Food:</strong> stock up on non-perishable items that you eat regularly
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Medications:</strong> this includes prescription and non-prescription meds
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Tools and Supplies:</strong> utility knife, duct tape, battery powered radio,
      etc.
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Sanitation and Hygiene:</strong> household bleach, soap, towels, etc.
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Clothing and Bedding:</strong> a change of clothes for each family member and
      blankets
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>Important documents:</strong> copies of your driver’s license, passport, and
      birth certificate to name a few
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon">
      <svg class="usa-icon bottom-05" aria-hidden="true" role="img">
        <use xlink:href="{{ site.baseurl }}/dist/img/sprite.svg#check_circle"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <strong>First Aid supplies:</strong> although you’re a goner if a zombie bites you,
      you can use these supplies to treat basic cuts and lacerations that you might get
      during a tornado or hurricane
    </div>
  </li>
</ul> -->