<div class="grid-row grid-gap-2">
  <div class="grid-col-auto">
    <label class="usa-label margin-top-0" for="email">Feet</label>
    <div class="usa-input-group usa-input-group--xs">
      <input type="text" id="example-input-prefix-error" class="usa-input" pattern="[0-9]*" inputmode="numeric">
      <div class="usa-input-suffix" aria-hidden="true">ft.</div>
    </div>
  </div>
  <div class="grid-col-auto">
    <label class="usa-label margin-top-0" for="email">Inches</label>
    <div class="usa-input-group usa-input-group--xs">
      <input type="text" id="example-input-prefix-error" class="usa-input" pattern="[0-9]*" inputmode="numeric">
      <div class="usa-input-suffix" aria-hidden="true">in.</div>
    </div>
  </div>
</div>
