<section id="microsite-header" aria-label="Header for Science and Technology" class="microsite-header usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="microsite-extended-mega-logo">
      <em class="usa-logo__text">
        <a href="/" title="Science and Technology home" aria-label="Science and Technology home">
          <div class="usa-sr-only">Science and Technology</div>
        </a>
      </em>
    </div>
  </div>
  {% include site-nav.html microsite=true %}
</section>
