<div class="usa-modal usa-modal--lg" id="modal-terms" aria-labelledby="modal-terms-heading" aria-describedby="terms-disclaimer">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="modal-terms-heading">
        Terms and conditions
      </h2>
      <div class="usa-prose">
        <p id="terms-disclaimer"><strong>These terms and conditions are for demonstration purposes only.</strong></p>
        <p>Each Contributor disclaims any liability in the most ordinary way, to print or display fonts. Program" shall mean the terms of this Agreement more than fifty percent (50%) of the Agreement under which it was received. In addition, after a subsequent version of this license directly with the proviso that the requirements of this Agreement shall be subject to the permissions granted by such Contributor itself or anyone acting on such Source Code version remains available even if the requirements of this License may be sold commercially, and may be distributed only under the GNU Free Documentation License.</p>
        <p>Furthermore, please note that these licenses do allow commercial uses of your work that is not required to also Redistribute means to provide reliability and stability for the Executable version under a variety of different license.</p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button" class="usa-button" data-close-modal>I read and understand these terms</button>
          </li>
          <li class="usa-button-group__item">
            <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
          </li>
        </ul>
      </div>
    </div>
    <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="../../dist/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>