<ol class="usa-process-list">
  <li class="usa-process-list__item">
    <p class="margin-top-05">
      <strong>Identify the types of emergencies that are possible in your area.</strong>
      Besides zombies, this may include floods, tornadoes, or earthquakes. If you are unsure
      contact your local Red Cross chapter for more information.
    </p>
  </li>
  <li class="usa-process-list__item">
    <p>
      <strong>Pick a meeting place for your family to regroup in case zombies invade your home,
        or your town evacuates because of a hurricane.</strong>
      Pick one place right outside your home for sudden emergencies and one place outside of
      your neighborhood in case you are unable to return home right away.
    </p>
  </li>
  <li class="usa-process-list__item">
    <p>
      <strong>Identify your emergency contacts.</strong> Make a list of local contacts like
      the police, fire department, and your local zombie response team. Also identify an
      out-of-state contact that you can call during an emergency to let the rest of your
      family know you are ok.
    </p>
  </li>
  <li class="usa-process-list__item">
    <p>
      <strong>Plan your evacuation route.</strong> When zombies are hungry they won’t stop
      until they get food (i.e., brains), which means you need to get out of town fast! Plan
      where you would go and multiple routes you would take ahead of time so that the flesh
      eaters don’t have a chance! This is also helpful when natural disasters strike and you
      have to take shelter fast.
    </p>
  </li>
</ol>