<section class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
        A real need for the Zombie Preparedness Team
      </h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p> We’ve all seen at least one movie about flesh-eating zombies taking over (my personal favorite is Resident Evil), but where do zombies come from and why do they love eating brains so much? The word zombie comes from Haitian and New Orleans voodoo origins. Although its meaning has changed slightly over the years, it refers to a human corpse mysteriously reanimated to serve the undead. Through ancient voodoo and folk-lore traditions, shows like the Walking Dead were born.</p>
    </div>
  </div>
</section>
