<section id="test-section-id" class="usa-section usa-section--dark">
  <div class="grid-container">
    <h2 class="font-heading-xl margin-y-0">Zombie Preparedness Team</h2>
    <p class="usa-intro">
      If zombies did start roaming the streets, the Zombie Preparedness Team would conduct an
      investigation much like any other disease outbreak. the Zombie Preparedness Team would
      provide technical assistance to cities, states, or international partners dealing with a
      zombie infestation.
    </p>
    <a href="preparedness-101.html" class="usa-button usa-button--big" href="#">Get prepared</a>
  </div>
</section>
