{% include gov-banner.html %}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-mega-logo">
      <em class="usa-logo__text">
        <a href="/" title="Home" aria-label="Home">
          <img src="assets/img/DHS_4R_Blue.svg" alt="Department of Homeland Security logo" width="247" height="72">
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  {% include site-nav.html %}
</header>
