<section class="usa-site-alert usa-site-alert--emergency usa-site-alert--slim" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body padding-05">
      <strong>Zombie Preparedness Alert in effect:</strong> <a class="usa-link" href="{{ site.baseurl }}/action.html#usa-anchor-emergency-supplies">Ready emergency supplies</a> and <a class="usa-link" href="{{ site.baseurl }}/action.html#usa-anchor-emergency-plan">Prepare emergency plan</a>
      <!-- 
        <h3 class="usa-alert__heading">Zombie Preparedness Alert in effect</h3>
        <ul class="usa-list">
        <li>
          <a class="usa-link" href="{{ site.baseurl }}/action.html#usa-anchor-emergency-supplies">Ready emergency supplies</a>.
        </li>
        <li>
          <a class="usa-link" href="{{ site.baseurl }}/action.html#usa-anchor-emergency-plan">Prepare emergency plan</a>.
        </li>
      </ul> -->
    </div>
  </div>
</section>