{% include gov-banner.html %}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-mega-logo">
      <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Project title</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="../../dist/img/close.svg" role="img"
          alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false"
            aria-controls="menu-topics"><span>Topics</span></button>
          <div id="menu-topics" class="usa-nav__submenu usa-megamenu" hidden="true">
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Academic Engagement</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Border Security</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Citizenship and Immigration Services</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Civil Rights and Civil Liberties</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Critical Infrastructure Security</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Cybersecurity</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Disasters</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Economic Security</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Election Security</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Emergency Communications</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Homeland Security Careers</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Human Trafficking</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Immigration and Customs Enforcement</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Intelligence & Analysis</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">International Engagement</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Law Enforcement Partnerships</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Preventing Terrorism</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Privacy</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Resilience</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Science and Technology</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Transportation Security</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="menu-news"><span>News</span></button>
          <div id="menu-news" class="usa-nav__submenu usa-megamenu" hidden>
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Blog</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Data</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Events</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Fact Sheets</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Homeland Security LIVE</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">In Focus</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Media Contacts</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Multimedia</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">National Terrorism Advisory System</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Podcasts</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Press Releases</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Publications Library</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Social Hub</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Social Media</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Speeches</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Testimony</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">News Archive</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Comunicados de Prensa</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="menu-get-involved"><span>Get Involved</span></button>
          <div id="menu-get-involved" class="usa-nav__submenu usa-megamenu" hidden>
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">#BeCyberSmart</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Blue Campaign</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Citizen Corps</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">If You See Something, Say Something<sup>&reg;</sup></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="extended-mega-nav-section-two"><span>About DHS</span></button>
          <div id="extended-mega-nav-section-two" class="usa-nav__submenu usa-megamenu" hidden>
            <div class="grid-row grid-gap-4">
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">A very long navigation link that goes onto two lines</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                </ul>
              </div>
              <div class="usa-col">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="#">Navigation link</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <form class="usa-search usa-search--small " role="search">
          <label class="usa-sr-only" for="extended-mega-search-field-small">Search small</label>
          <input class="usa-input" id="extended-mega-search-field-small" type="search" name="search">
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </form>
      </div>
    </div>
  </nav>
</header>
