<section class="usa-site-alert usa-site-alert--emergency" aria-label="Site alert,,,">
    <div class="usa-alert">
        <div class="usa-alert__body">
            <h3 class="usa-alert__heading">If you already been bitten, scratched, or otherwise infected:</h3>
            <ul class="usa-list">
                <li>Do not schedule or attend a vaccine appointment if you believe you may be infected with the zombie virus.</li>
                <li>Immediately contact the closest Reanimation Intervention and Protection (RIP) clinic.</li>
                <li>Find an isolated location away from other people to wait for a response team.</li>
            </ul>
        </div>
    </div>
</section>