<section class="usa-site-alert usa-site-alert--emergency usa-site-alert--no-heading" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <strong>Fictitious Zombie Preparedness Alert in effect:</strong>
      Pretend to <a class="usa-link" href="{{ site.baseurl }}/preparedness-101.html#usa-anchor-emergency-supplies">Ready emergency supplies</a>
      and
      <a class="usa-link" href="{{ site.baseurl }}/preparedness-101.html#usa-anchor-emergency-plan">Prepare emergency plan</a>
    </div>
  </div>
</section>

<!-- <section class="usa-site-alert usa-site-alert--emergency" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body padding-05">
      <h3 class="usa-alert__heading">Fictitious Zombie Preparedness Alert in effect:</h3>
      <ul class="usa-list">
        <li>
          Pretend to <a class="usa-link" href="{{ site.baseurl }}/preparedness-101.html#usa-anchor-emergency-supplies">Ready emergency supplies</a>.
        </li>
        <li>
          Imagine you must <a class="usa-link" href="{{ site.baseurl }}/preparedness-101.html#usa-anchor-emergency-plan">Prepare emergency plan</a>.
        </li>
      </ul>
    </div>
  </div>
</section> -->
