<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="assets/img/20_0206-DHS_Seal_Blue.svg" alt="DHS seal" role="img">
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">DHS.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          <a href="javascript:void(0);">U.S. Department of Homeland Security</a>
        </p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="javascript:void(0);" class="usa-identifier__required-link">About DHS</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/dhs-component-websites" class="usa-identifier__required-link">DHS Components</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/accessibility" class="usa-identifier__required-link usa-link">Accessibility</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/freedom-information-act-foia" class="usa-identifier__required-link usa-link">FOIA Requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/homeland-security-no-fear-act-reporting" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="javascript:void(0);" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/plain-writing-dhs" class="usa-identifier__required-link usa-link">Plain Writing</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.dhs.gov/privacy-policy" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.oig.dhs.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.whitehouse.gov/" class="usa-identifier__required-link usa-link">The White House</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
