<div class="usa-summary-box" role="complementary">
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading">Key information</h3>
    <div class="usa-summary-box__text">
      <ul class="usa-list">
        <li>
          Know your community’s
          <a class="usa-summary-box__link" href="#usa-anchor-emergency-contacts">Emergency Contacts</a>
        </li>
        <li>
          If you are under a Zombie Preparedness Alert, make an
          <a class="usa-summary-box__link" href="#usa-anchor-emergency-plan">Emergency Plan</a>
          right away
        </li>
        <li>
          Gather
          <a class="usa-summary-box__link" href="#usa-anchor-emergency-supplies">Emergency Supplies</a>
          for your home and your car.
        </li>
        <li>
          Sign up for your community’s
          <a class="usa-summary-box__link" href="#usa-anchor-zombie-preparedness-team">Zombie Preparedness Team</a>.
        </li>
      </ul>
    </div>
  </div>
</div>
