<table class="usa-table usa-table--stacked width-full">
  <thead>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">Telephone</th>
      <th scope="col">Fax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th data-label="Department" scope="row">Police</th>
      <td data-label="Telephone">703-555-0132</td>
      <td data-label="Fax">703-555-0119</td>
    </tr>
    <tr>
      <th data-label="Department" scope="row">Fire/Emergency Medical Response</th>
      <td data-label="Telephone">703-555-0177</td>
      <td data-label="Fax">703-555-0102</td>
    </tr>
    <tr>
      <th data-label="Department" scope="row">Department of Sanitation</th>
      <td data-label="Telephone">703-555-0112</td>
      <td data-label="Fax">703-555-0135</td>
    </tr>
  </tbody>
</table>

<!-- <table class="usa-table usa-table--stacked-header width-full">
  <thead>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">Telephone</th>
      <th scope="col">Fax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th data-label="Department" scope="row">Police</th>
      <td data-label="Telephone">703-555-0132</td>
      <td data-label="Fax">703-555-0119</td>
    </tr>
    <tr>
      <th data-label="Department" scope="row">Fire/Emergency Medical Response</th>
      <td data-label="Telephone">703-555-0177</td>
      <td data-label="Fax">703-555-0102</td>
    </tr>
    <tr>
      <th data-label="Department" scope="row">Department of Sanitation</th>
      <td data-label="Telephone">703-555-0112</td>
      <td data-label="Fax">703-555-0135</td>
    </tr>
  </tbody>
</table> -->