/*
========================================
CUSTOM PROJECT SASS
----------------------------------------
Custom project SASS goes here.

i.e.
@include padding-right(2px);
----------------------------------------
*/

html {
  font-size: $theme-root-font-size;
}

*:focus {
  @include outline(.5, $highlight);
}

.is-inverse {
  @include add-font-smoothing;
}

.page-content {
  h3 {
    @include size('sans', 10);
    @include text('thin');
    @include line-height('heading', 3);
    @include at-media('tablet-lg') {
      @include size('sans', 15);
    }
  }
}

*:active:focus {
  @include outline(.5, $indigo-warm-50v);
}

.usa-accordion-content{
  &[aria-hidden=true] {
    @include display('none');
  }
}

.usa-banner-button-text--open {
  @include display('none');
}

[aria-expanded=true] {
  > .usa-banner-button-text {
    @include display('none');
  }
  > .usa-banner-button-text--open {
    @include display('inline');
  }
}

@mixin txt-normalize-headings {
  @include weight('normal');
  @include line-height('heading', 2);
  @include margin-y(0);
}

.txt-h1,
.txt-h2,
.txt-h3 {
  @include txt-normalize-headings;
}

.txt-h2 {
  @include size('sans', 9);
  @include weight('bold');
  @include margin-top(2);
  @include padding-top(2);

  @include at-media('tablet-lg'){
    @include size('sans', 11);
    @include margin-top(3);
  }
}

.txt-h3 {
  @include size('sans', 6);
  @include weight('bold');
  @include margin-top(2);
  @include padding-top(1);
  @include at-media('tablet-lg'){
    @include margin-top(2);
    @include padding-top(2);
    @include size('sans', 8);
  }
  & + .txt-p {
    @include margin-top(1);
  }
}

.txt-p {
  @include line-height('body', 4);
  @include margin-bottom(0);
  @include margin-top(1em);
  @include measure(4);
  @include at-media('tablet-lg'){
    @include size('body', 8);
    @include line-height('body', 5);
  }
}

.txt-li {
  @include border-top(1px, $gray-20);
  @include padding-y(1);
  @include at-media('tablet-lg'){
    @include padding-y(1);
  }
}

.txt-code {
  @include bg($gray-warm-5);
  @include family('mono');
  @include padding-x('05');
  @include padding-y(2px);
  @include size('mono', 4);
  @include text(400);
  @include radius('sm');
}

.txt-a {
  @include text($gray-90);
  @include underline($gray-30);
  &:hover{
    @include underline($gray-90);
  }
}

.txt-ul {
  @include list-reset;
}

.usa-body-content, .usa-prose {
  h1,
  h2,
  h3 {
    @include txt-normalize-headings;
  }
  h2 { @extend .txt-h2; }
  h3 {
    @extend .txt-h3;
    & + p {
      @include margin-top(1);
    }
  }
  p { @extend .txt-p; }
  ul { @extend .txt-ul; }
  li { @extend .txt-li; }
  p a {
    @extend .txt-a;
    &.usa-lede-link {
      @include text($gray-90);
      @include underline($gray-20);
      &:hover{
        @include underline($gray-80);
      }
    }
  }
  code { @extend .txt-code; }
  aside {
    code {
      @include bg($gray-warm-10);
    }
  }
}

/* * * * * * ========================= */

.docs-text {
  @include family('sans');
  @include margin-bottom(1);
  @include margin-top(4);
  @include size('sans', 6);
  @include text('normal');
}

strong {
  @include text('bold');
}

.docs-inline-code {
  @include bg($gray-warm-4);
  @include family('mono');
  @include padding-x('05');
  @include padding-y(2px);
  @include radius('sm');
  @include size('mono', 4);
}

.token {
  $font: 'mono';
  @include border(1px);
  @include color($red-warm-50v)
  @include family($font);
  @include line-height($font, 1);
  @include padding-x('05');
  @include padding-y(2px);
  @include radius('sm');
  @include size($font, 1);
  @include text('normal', 'no-wrap', 'no-underline', 'uppercase', 'no-italic', 'ls-2');
}

.prose-graf-intro {
  $font: 'sans';
  @include family($font);
  @include size($font, 2);
  @include text('semibold', 'uppercase', 'ls-2');
  @include at-media('desktop-lg'){
    @include size($font, 3);
  }
}

.text-color .example {
  @include border-bottom(1px, $base-lighter);
  @include margin-y(.5);
  @include padding-y(.5);
}


.output-list {
  @include grid-row;
  @include margin-top(0);
  @include width(full);
  .output-utility, .output-css, .output-variable {
    @include margin(0);
    @include padding-y(.5);
    @include border-bottom(1px);
    @include border-bottom($gray-20);
  }
  .output-utility {
    @include grid-col(4);
  }
  .output-css {
    @include family(mono);
    @include grid-col(6);
    @include size(mono, 4);
  }
  .output-variable {
    @include family(mono);
    @include grid-col(2);
    @include size(mono, 4);
    @include text(light);
  }
}

.output-token {
  @include bg(white);
  @include border(1px, $gray-10);
  @include family('mono');
  @include padding-x(1);
  @include padding-y(2px);
  @include size('mono', 4);
  @include text(400);
  @include radius('sm');
}
