/*
========================================
CUSTOM PROJECT SASS
----------------------------------------
Custom project SASS goes here.

i.e.
@include padding-right(2px);
----------------------------------------
*/

html {
  font-size: $theme-root-font-size;
}

*:focus {
  @include outline('05');
  outline-color: color('highlight');
}

.is-inverse {
  @include font-smoothing;
}

.page-content {
  h3 {
    @include size('sans', 10);
    @include text('thin');
    @include line-height('heading', 3);
    @include at-media('tablet-lg') {
      @include size('sans', 15);
    }
  }
}

*:active:focus {
  @include outline('05');
  outline-color: color('indigo-warm', 50, vivid);
}

.usa-accordion-content{
  &[aria-hidden=true] {
    @include display('none');
  }
}

.usa-banner-button-text--open {
  @include display('none');
}

[aria-expanded=true] {
  > .usa-banner-button-text {
    @include display('none');
  }
  > .usa-banner-button-text--open {
    @include display('inline');
  }
}

@mixin txt-normalize-headings {
  @include weight('normal');
  @include line-height('heading', 2);
  @include margin-y(0);
}

.txt-h1,
.txt-h2,
.txt-h3 {
  @include txt-normalize-headings;
}

.txt-h2 {
  @include size('sans', 9);
  @include weight('bold');
  @include margin-top(2);
  @include padding-top(2);

  @include at-media('tablet-lg'){
    @include size('sans', 11);
    @include margin-top(3);
  }
}

.txt-h3 {
  @include size('sans', 6);
  @include weight('bold');
  @include margin-top(2);
  @include padding-top(1);
  @include at-media('tablet-lg'){
    @include margin-top(2);
    @include padding-top(2);
    @include size('sans', 8);
  }
  & + .txt-p {
    @include margin-top(1);
  }
}

.txt-p {
  @include measure(4);
  line-height: leading('body', 4);
  margin-bottom: spacing(0);
  margin-top: spacing(1em);
  @include at-media('tablet-lg'){
    font-size: font('size', 'body', 8);
    line-height: lh('body', 5);
  }
}

.txt-li {
  @include border-top();
  @include padding-y(1);
  border-color: color('gray', 20);
  @include at-media('tablet-lg'){
    @include padding-y(1);
  }
}

.txt-code {
  @include family('mono');
  @include padding-x('05');
  @include padding-y(2px);
  @include size('mono', 4);
  @include text(400);
  background-color: color('gray-warm', 4);
  border-radius: radius('sm');
}

.txt-a {
  color: color('gray', 90);
  @include underline-color('gray', 30);
  &:hover{
    @include underline-color('gray', 90);
  }
}

.txt-ul {
  @include list-reset;
}

.usa-body-content, .usa-prose {
  h1,
  h2,
  h3 {
    @include txt-normalize-headings;
  }
  h2 { @extend .txt-h2; }
  h3 {
    @extend .txt-h3;
    & + p {
      @include margin-top(1);
    }
  }
  p { @extend .txt-p; }
  ul { @extend .txt-ul; }
  li { @extend .txt-li; }
  p a {
    @extend .txt-a;
    &.usa-lede-link {
      color: color('gray', 90);
      text-decoration-color: color('gray', 20);
      &:hover{
        text-decoration-color: color('gray', 80);
      }
    }
  }
  code { @extend .txt-code; }
  aside {
    code {
      background-color: color('gray-warm', 10);
    }
  }
}

/* * * * * * ========================= */

.docs-text {
  @include size('sans', 6);
  @include family('sans');
  @include margin-bottom(1);
  @include margin-top(4);
  @include weight(400);
}

strong {
  @include weight(bold);
}

.docs-inline-code {
  @include bg('gray-warm', 4);
  @include family('mono');
  @include padding-x('05');
  @include padding-y(2px);
  @include radius('sm');
  @include size('mono', 4);
}

.token {
  @include bg('gray-warm', 3);
  @include family('mono');
  @include line-height('mono', 1);
  @include padding-x('05');
  @include padding-y(2px);
  @include radius('sm');
  @include size('mono', 1);
  @include text('left', 'no-wrap', 'no-underline', 'uppercase', 'no-italic', 'bold', 'ls-2');
}
