/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
CUSTOM PROJECT SASS
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

[class*=grid-col] {
  min-height: auto;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.bg-gradient {
  background: linear-gradient(90deg, color('primary') 0%, color('secondary') 100%);
}

.usa-banner-button {
  border-bottom: none !important;
}

.usa-banner-button-text {
  @include u-text('blue-60', !important);
  text-decoration: underline !important;
}
