// ==========================================================================
// Overrides
// ==========================================================================
// Performs the same function as the `_uswds-theme-*.scss` files.
// Separated so you can override and update  USWDS easily in the future without
// having your settings lost. Use the theme files as a reference.

// ==========================================================================
// Variables
// ==========================================================================

//
// Brand colors - Will be used in USWDS theme overrides.
// ==========================================================================

// Primary
$c-dhs-blue: #005288;
$c-dhs-blue-light: #3d7ca5;
$c-dhs-blue-lighter: #7aa5c1;
$c-dhs-blue-lightest: #b8cfde;
$c-dhs-blue-dark: #003e67;
$c-dhs-blue-darker: #002b47;
$c-dhs-blue-darkest: #001726;

// Gray
$c-dhs-gray: #c0c2c4;
$c-dhs-gray-light: #cfd1d2;
$c-dhs-gray-lighter: #dedfe0;
$c-dhs-gray-lightest: #edeeee;
$c-dhs-gray-dark: #929395;
$c-dhs-gray-darker: #646566;
$c-dhs-gray-darkest: #363637;

// Dark gray
$c-dhs-dark-gray: #e5e5e5;
$c-dhs-dark-gray-light: #d1d1d2;
$c-dhs-dark-gray-lighter: #a9aaab;
$c-dhs-dark-gray-lightest: #828284;
$c-dhs-dark-gray-dark: #444547;
$c-dhs-dark-gray-darker: #2f2f30;
$c-dhs-dark-gray-darkest: #19191a;

// Red
$c-dhs-red: #c41230;
$c-dhs-red-light: #d24b62;
$c-dhs-red-lighter: #e08493;
$c-dhs-red-lightest: #eebdc5;
$c-dhs-red-dark: #950e24;
$c-dhs-red-darker: #660919;
$c-dhs-red-darkest: #37050d;

// Light blue
$c-dhs-light-blue: #0078ae;
$c-dhs-light-blue-light: #3d98c1;
$c-dhs-light-blue-lighter: #7ab9d5;
$c-dhs-light-blue-lightest: #b8d9e8;
$c-dhs-light-blue-dark: #0078ae;
$c-dhs-light-blue-darker: #005b84;
$c-dhs-light-blue-darkest: #002231;

// Green
$c-dhs-green: #5e9732;
$c-dhs-green-light: #85b063;
$c-dhs-green-lighter: #abc994;
$c-dhs-green-lightest: #d2e2c6;
$c-dhs-green-dark: #477326;
$c-dhs-green-darker: #314f1a;
$c-dhs-green-darkest: #1a2a0e;


// ==========================================================================
// Color
// Overridden using variables from above. Use `_uswds-theme-color.scss` as a reference.
// ==========================================================================

// Primary colors
$theme-color-primary-family: "blue-cool";
$theme-color-primary-lightest: $c-dhs-blue-lightest;
$theme-color-primary-lighter: $c-dhs-blue-lighter;
$theme-color-primary-light: $c-dhs-blue-light;
$theme-color-primary: $c-dhs-blue;
$theme-color-primary-vivid: "blue-60v";
$theme-color-primary-dark: $c-dhs-blue-dark;
$theme-color-primary-darker: $c-dhs-blue-darker;
$theme-color-primary-darkest: $c-dhs-blue-darkest;

// Base colors aka grays
$theme-color-base-family: "gray";
$theme-color-base-lightest: $c-dhs-gray-lightest;
$theme-color-base-lighter: $c-dhs-gray-lighter;
$theme-color-base-light: $c-dhs-gray-light;
$theme-color-base: $c-dhs-gray;
$theme-color-base-dark: $c-dhs-gray-dark;
$theme-color-base-darker: $c-dhs-gray-darker;
$theme-color-base-darkest: $c-dhs-gray-darkest;
$theme-color-base-ink: "black";

// Secondary colors
$theme-color-secondary-family: "red-cool-60v";
$theme-color-secondary-lightest: $c-dhs-red-lightest;
$theme-color-secondary-lighter: $c-dhs-red-lighter;
$theme-color-secondary-light: $c-dhs-red-light;
$theme-color-secondary: $c-dhs-red;
$theme-color-secondary-vivid: "red-50v";
$theme-color-secondary-dark: $c-dhs-red-dark;
$theme-color-secondary-darker: $c-dhs-red-darker;
$theme-color-secondary-darkest: $c-dhs-red-darkest;

// Accent cool colors
$theme-color-accent-cool-family: "cyan-50v";
$theme-color-accent-cool-lightest: $c-dhs-light-blue-lightest;
$theme-color-accent-cool-lighter: $c-dhs-light-blue-lighter;
$theme-color-accent-cool-light: $c-dhs-light-blue-light;
$theme-color-accent-cool: $c-dhs-light-blue;
$theme-color-accent-cool-dark: $c-dhs-light-blue-dark;
$theme-color-accent-cool-darker: $c-dhs-light-blue-darker;
$theme-color-accent-cool-darkest: $c-dhs-light-blue-darkest;

//
// State Palette Colors
// ==========================================================================
// Error colors
$theme-color-error-family: "red-cool-60v";
$theme-color-error-lighter: $c-dhs-red-lighter;
$theme-color-error-light: $c-dhs-red-light;
$theme-color-error: $c-dhs-red;
$theme-color-error-dark: $c-dhs-red-dark;
$theme-color-error-darker: $c-dhs-red-darker;

// Warning colors
$theme-color-warning-family: "yellow";
$theme-color-warning-lighter: "yellow-5";
$theme-color-warning-light: "yellow-10v";
$theme-color-warning: "yellow-20v";
$theme-color-warning-dark: "yellow-30v";
$theme-color-warning-darker: "yellow-50v";

// Info colors
$theme-color-info-lighter: $c-dhs-light-blue-lighter;
$theme-color-info-light: $c-dhs-light-blue-light;
$theme-color-info: $c-dhs-light-blue;
$theme-color-info-dark: $c-dhs-light-blue-dark;
$theme-color-info-darker: $c-dhs-light-blue-darker;

//
// General Colors
// ==========================================================================
// Links
$theme-link-color: "blue-60v";
$theme-link-visited-color: "violet-70v";
$theme-link-hover-color: "blue-70v";
$theme-link-active-color: "blue-80v";
$theme-link-reverse-color: "gray-10";
$theme-link-reverse-hover-color: "gray-5";
$theme-link-reverse-active-color: "white";


// ==========================================================================
// Typography
// ==========================================================================
$theme-global-link-styles: true;

// ==========================================================================
// Component Overrides
// ==========================================================================

// Identifier
// $theme-identifier-font-family: "ui";
// $theme-identifier-background-color: "base-darkest";
// $theme-identifier-identity-domain-color: "base-light";
// $theme-identifier-max-width: "desktop";
// $theme-identifier-secondary-link-color: "base-light";
