/*
========================================
USWDS UTILITIES SETTINGS
----------------------------------------
*/

$utilities-namespace-prefix:  '';
$utilities-use-important:     true;

$output-all-utilities:  false;

$global-color-palettes: (
  'palette-colors-uswds-all',
  'palette-colors-theme',
  'palette-colors-basic'
);

/*
========================================
.align-items
----------------------------------------
*/

$align-items-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$align-items-palettes: (
  'palette-standard-align-items'
);

$align-items-manual-values: (
);

/*
========================================
.background-color
----------------------------------------
*/

$background-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        true,
  hover:        true,
  visited:      false
);

$background-color-palettes: (
  'palette-colors-uswds-all'
);

$background-color-manual-values: (
  /*
  */
);

/*
========================================
.border (width and solid)
----------------------------------------
*/

$border-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-palettes: (
  /*
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  */
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-smaller',
);

$border-manual-values: (
  /*
  */
  '0':            0
);

/*
========================================
.border-color
----------------------------------------
*/

$border-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$border-color-palettes: (
  /*
  'palette-color-[color]'
  'palette-color-[color]-light'
  'palette-color-[color]-medium'
  'palette-color-[color]-dark'
  'palette-color-[color]-light-vivid'
  'palette-color-[color]-medium-vivid'
  'palette-color-[color]-dark-vivid'
  'palette-color-[color]-standard'
  'palette-color-[color]-vivid'
  'palette-color-palette-status'
  */
  'palette-gray-cool-all',
  'palette-indigo-warm-medium-vivid',
  'palette-red-warm-medium-vivid',
  'palette-gold-light-vivid',
  'palette-colors-grayscale'
);

$border-color-manual-values: (
  /*
  */
);

/*
========================================
.border-radius
----------------------------------------
*/

$border-radius-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-radius-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  */
  'palette-standard-border-radius'
);

$border-radius-manual-values: (
  /*
  */
);

/*
========================================
.border-style
----------------------------------------
*/

$border-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$border-style-palettes: (
  /*
  */
);

$border-style-manual-values: (
  /*
  */
  dashed:       'dashed',
  dotted:       'dotted',
  solid:        'solid'
);

/*
========================================
.border-width
----------------------------------------
*/

$border-width-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

/*
========================================
.bottom
----------------------------------------
*/

$bottom-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$bottom-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-smaller-negative'
  'palette-spacing-uswds-medium-negative'
  'palette-spacing-uswds-negative'
  'palette-spacing-units-percentage'
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-smaller-negative'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-uswds-small',
);

$bottom-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.box-shadow
----------------------------------------
*/

$box-shadow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.circle
----------------------------------------
*/

$circle-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$circle-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-medium'
);

$circle-manual-values: (
  /*
  */
);

/*
========================================
.clearfix
----------------------------------------
*/

$clearfix-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.color
----------------------------------------
*/

$color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        true,
  hover:        true,
  visited:      false
);

$color-palettes: (
  /*
  'palette-[color]'
  'palette-[color]-light'
  'palette-[color]-medium'
  'palette-[color]-dark'
  'palette-[color]-light-vivid'
  'palette-[color]-medium-vivid'
  'palette-[color]-dark-vivid'
  'palette-[color]-standard'
  'palette-[color]-vivid'
  'palette-palette-status'
  */
  'palette-gray-cool-light',
  'palette-gray-cool-medium',
  'palette-gray-cool-dark',
  'palette-indigo-warm-vivid',
  'palette-red-warm-vivid',
  'palette-red-vivid',
  'palette-colors-grayscale'
);

$color-manual-values: (
  /*
  */
);

/*
========================================
.display
----------------------------------------
*/

$display-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$display-palettes: (
  /*
  */
);

$display-manual-values: (
  /*
  */
  block:        'block',
  flex:         'flex',
  none:         'none',
  inline:       'inline',
  inline-block: 'inline-block',
  table:        'table',
  table-cell:   'table-cell'
);

/*
========================================
.flex
----------------------------------------
*/

$flex-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-palettes: (
  /*
  */
  'palette-standard-flex'
);

$flex-manual-values: (
  /*
  */
);

/*
========================================
.flex-direction
----------------------------------------
*/

$flex-direction-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-direction-palettes: ();

$flex-direction-manual-values: (
  /*
  */
  row:          'row',
  column:       'column'
);

/*
========================================
.flex-wrap
----------------------------------------
*/

$flex-wrap-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$flex-wrap-palettes: ();

$flex-wrap-manual-values: (
  wrap:         'wrap',
  nowrap:       'nowrap'
);

/*
========================================
.float
----------------------------------------
*/

$float-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$float-palettes: ();

$float-manual-values: (
  /*
  */
  left:         'left',
  none:         'none',
  right:        'right'
);

/*
========================================
.font
----------------------------------------
*/

$font-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-palettes: (
  /*
  'palette-font-theme-mono-all'
  'palette-font-theme-sans-all'
  'palette-font-theme-serif-all'
  'palette-font-uswds-all'
  'palette-system-[family]-small'
  'palette-system-[family]-medium'
  'palette-system-[family]-large'
  'palette-system-[family]-xlarge'
  'palette-system-[family]-all'
  */
  'palette-font-uswds-sans-all',
  'palette-font-uswds-serif-all',
  'palette-font-uswds-mono-all'
);

$font-manual-values: (
  /*
  */
);

/*
========================================
.font-family
----------------------------------------
*/

$font-family-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-family-palettes: (
  /*
  'palette-font-stack-roles'
  'palette-font-stack-types'
  */
  'palette-font-stack-types'
);

$font-family-manual-values: (
  /*
  */
);

/*
========================================
.font-feature-settings
----------------------------------------
*/

$font-feature-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-feature-palettes: (
  /*
  */
  'palette-standard-font-feature-settings'
);

$font-feature-manual-values: (
  /*
  */
);

/*
========================================
.font-style
----------------------------------------
*/

$font-style-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-style-palettes: ();

$font-style-manual-values: (
  normal:       'normal',
  italic:       'italic'
);

/*
========================================
.font-weight
----------------------------------------
*/

$font-weight-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$font-weight-palettes: (
  /*
  */
  'palette-font-weights-theme',
  'palette-font-weights-numeric'
);

$font-weight-manual-values: (
  /*
  */
);

/*
========================================
.height
----------------------------------------
*/

$height-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        true,
  hover:        false,
  visited:      false
);

$height-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  */
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-medium',
);

$height-manual-values: (
  /*
  */
  0:      0,
  auto:   auto,
  100vh:  100vh
);

/*
========================================
.justify-content
----------------------------------------
*/

$justify-content-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
) !default;

$justify-content-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-smaller-negative'
  'palette-spacing-uswds-medium-negative'
  'palette-spacing-uswds-negative'
  'palette-spacing-units-percentage'
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-smaller-negative'
  */
  'palette-standard-justify-content'
) !default;

$justify-content-manual-values: (
  /*
  */
) !default;

/*
========================================
.left
----------------------------------------
*/

$left-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$left-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-smaller-negative'
  'palette-spacing-uswds-medium-negative'
  'palette-spacing-uswds-negative'
  'palette-spacing-units-percentage'
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-smaller-negative'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-units-percentage',
);

$left-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.letter-spacing
----------------------------------------
*/

$letter-spacing-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$letter-spacing-palettes: (
  /*
  */
  'palette-standard-letter-spacing'
);

$letter-spacing-manual-values: (
  /*
  */
);

/*
========================================
.line-height
----------------------------------------
*/

$line-height-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$line-height-palettes: (
  /*
  */
  'palette-standard-line-height'
);

$line-height-manual-values: (
  /*
  */
);

/*
========================================
.list-reset
----------------------------------------
*/

$list-reset-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.margin
----------------------------------------
*/

$margin-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$margin-palettes: (
  /*
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-all',
  'palette-spacing-uswds-negative',
  'palette-spacing-units-ch',
  'palette-spacing-units-ch-negative',
  'palette-spacing-units-em'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-uswds-small-negative',
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-medium',
);

$margin-manual-values: (
  /*
  */
  0:            '0',
  auto:         'auto',
);

/*
========================================
.max-height
----------------------------------------
*/

$max-height-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-height-palettes: (
  /*
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-all',
  'palette-spacing-uswds-smaller'
  */
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
);

$max-height-manual-values: (
  /*
  */
  none:         'none',
);

/*
========================================
.max-width
----------------------------------------
*/

$max-width-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$max-width-palettes: (
  /*
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-breakpoints'
  */
  'palette-spacing-uswds-large',
  'palette-spacing-uswds-larger',
  'palette-standard-max-width'
);

$max-width-manual-values: (
  /*
  */
  none:         'none',
);

/*
========================================
.min-height
----------------------------------------
*/

$min-height-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-height-palettes: (
  /*
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  */
  'palette-standard-min-height'
);

$min-height-manual-values: (
  /*
  */
  '100ct':      100%,
  '100vh':      100vh,
);

/*
========================================
.min-width
----------------------------------------
*/

$min-width-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$min-width-palettes: (
  /*
  'palette-spacing-uswds-all',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-units-em',
  'palette-spacing-units-ch'
  'palette-spacing-units-percentage'
  */
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-medium',
  'palette-spacing-uswds-large',
  'palette-spacing-uswds-larger'
);

$min-width-manual-values: (
  /*
  */
);

/*
========================================
.opacity
----------------------------------------
*/

$opacity-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$opacity-palettes: (
  /*
  */
  'palette-standard-opacity'
);

$opacity-manual-values: (
  /*
  '0':            '0',
  '01':           '0.1',
  '02':           '0.2',
  '03':           '0.3',
  '04':           '0.4',
  '05':           '0.5',
  '06':           '0.6',
  '07':           '0.7',
  '08':           '0.8',
  '09':           '0.9',
  '1':            '1',
  */
);

/*
========================================
.order
----------------------------------------
*/

$order-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$order-palettes: (
  /*
  */
  'palette-standard-order'
);

$order-manual-values: (
  /*
  0:            0,
  1:            1,
  2:            2,
  3:            3,
  4:            4,
  5:            5,
  6:            6,
  7:            7,
  8:            8,
  9:            9,
  10:           10,
  11:           11,
  */
  first:        '-1',
  last:         '99'
);

/*
========================================
.outline
----------------------------------------
*/

$outline-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-palettes: (
  /*
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-small'
);

$outline-manual-values: (
  /*
  */
  0:            'none'
);

/*
========================================
.outline-color
----------------------------------------
*/

$outline-color-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$outline-color-palettes: (
  /*
  */
);

$outline-color-manual-values: (
  /*
  */
);

/*
========================================
.overflow
----------------------------------------
*/

$overflow-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$overflow-palettes: (
  /*
  */
);

$overflow-manual-values: (
  /*
  */
  'hidden':            hidden,
  'scroll':            scroll,
  'auto':              auto,
  'visiable':          visible,
);

/*
========================================
.padding
----------------------------------------
*/

$padding-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);


/*
========================================
.position
----------------------------------------
*/

$position-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$position-palettes: (
  /*
  */
);

$position-manual-values: (
  /*
  */
  absolute:     'absolute',
  fixed:        'fixed',
  relative:     'relative',
  static:       'static',
  sticky:       'sticky'
);

/*
========================================
.right
----------------------------------------
*/

$right-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$right-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-smaller-negative'
  'palette-spacing-uswds-medium-negative'
  'palette-spacing-uswds-negative'
  'palette-spacing-units-percentage'
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-smaller-negative'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-small',
);

$right-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.square
----------------------------------------
*/

$square-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$square-palettes: (
  /*
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-small',
  'palette-spacing-uswds-medium',
);

$square-manual-values: (
  /*
  */
);

/*
========================================
.text-align
----------------------------------------
*/

$text-align-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$text-align-palettes: (
  /*
  */
);

$text-align-manual-values: (
  /*
  justify:      'justify',
  right:        'right',
  */
  center:       'center',
  left:         'left',
  right:        'right',
);

/*
========================================
.text-decoration
----------------------------------------
*/

$text-decoration-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-decoration-palettes: (
  /*
  */
  'palette-standard-text-decoration'
);

$text-decoration-manual-values: (
  /*
  strike:           'strike',
  */
);

/*
========================================
.text-decoration-color
----------------------------------------
*/

$text-decoration-color-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        true,
  visited:      false
);

$text-decoration-color-palettes: (
  /*
  'palette-color-palette-grayscale'
  */
  'palette-red-warm-medium-vivid',
  'palette-indigo-warm-vivid',
  'palette-colors-grayscale',
);

$text-decoration-color-manual-values: (
  /*
  */
);

/*
========================================
.text-indent
----------------------------------------
*/

$text-indent-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.text-transform
----------------------------------------
*/

$text-transform-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.top
----------------------------------------
*/

$top-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$top-palettes: (
  /*
  'palette-spacing-uswds-small'
  'palette-spacing-uswds-medium'
  'palette-spacing-uswds-large'
  'palette-spacing-uswds-xlarge'
  'palette-spacing-uswds-all'
  'palette-spacing-uswds-smaller-negative'
  'palette-spacing-uswds-medium-negative'
  'palette-spacing-uswds-negative'
  'palette-spacing-units-percentage'
  'palette-spacing-uswds-smaller'
  'palette-spacing-uswds-smaller-negative'
  */
  'palette-spacing-uswds-smaller',
  'palette-spacing-uswds-smaller-negative',
  'palette-spacing-units-percentage',
  'palette-spacing-uswds-small',
);

$top-manual-values: (
  /*
  */
  0:        0,
  auto:     'auto',
);

/*
========================================
.vertical-align
----------------------------------------
*/

$vertical-align-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);


/*
========================================
.white-space
----------------------------------------
*/

$whitespace-settings: (
  output:       true,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

/*
========================================
.width
----------------------------------------
*/

$width-settings: (
  output:       true,
  responsive:   true,
  active:       false,
  focus:        true,
  hover:        false,
  visited:      false
);

$width-palettes: (
  /*
  'palette-spacing-uswds-all',
  'palette-spacing-uswds-smaller',
  'palette-spacing-units-em',
  'palette-spacing-units-ch'
  'palette-spacing-units-percentage'
  */
  'palette-standard-width'
);

$width-manual-values: (
  /*
  */
);

/*
========================================
.z-index
----------------------------------------
*/

$z-index-settings: (
  output:       false,
  responsive:   false,
  active:       false,
  focus:        false,
  hover:        false,
  visited:      false
);

$z-index-palettes: (
  /*
  */
  'palette-standard-z-index'
);

$z-index-manual-values: (
  /*
  */
  auto:         'auto',
);
