// ==========================================================================
// Overrides
// ==========================================================================
// Performs the same function as the `_uswds-theme-*.scss` files.
// Separated so you can override and update  USWDS easily in the future without
// having your settings lost. Use the theme files as a reference.

// ==========================================================================
// Variables
// ==========================================================================

//
// Brand colors - Will be used in USWDS theme overrides.
// ==========================================================================

// Primary
$c-dhs-blue-05: #f5f8fa;
$c-dhs-blue-10: #d6e3ec;
$c-dhs-blue-20: #b8cfde;
$c-dhs-blue-30: #7aa5c1;
$c-dhs-blue-40: #3d7ca5;
$c-dhs-blue: #005288;
$c-dhs-blue-60: #003e67;
$c-dhs-blue-70: #002b47;
$c-dhs-blue-80: #001726;
$c-dhs-blue-90: #000305;

// Gray
$c-dhs-gray-05: #fcfdfd;
$c-dhs-gray-10: #f5f5f6;
$c-dhs-gray-20: #edeeee;
$c-dhs-gray-30: #dedfe0;
$c-dhs-gray-40: #cfd1d2;
$c-dhs-gray: #c0c2c4;
$c-dhs-gray-60: #929395;
$c-dhs-gray-70: #646566;
$c-dhs-gray-80: #363637;
$c-dhs-gray-90: #080808;

// Dark gray
$c-dhs-dark-gray-05: #f8f8f9;
$c-dhs-dark-gray-10: #e5e5e5;
$c-dhs-dark-gray-20: #d1d1d2;
$c-dhs-dark-gray-30: #a9aaab;
$c-dhs-dark-gray-40: #828284;
$c-dhs-dark-gray: #5a5b5d;
$c-dhs-dark-gray-60: #444547;
$c-dhs-dark-gray-70: #2f2f30;
$c-dhs-dark-gray-80: #19191a;
$c-dhs-dark-gray-90: #040404;

// Red
$c-dhs-red-05: #fdf6f7;
$c-dhs-red-10: #f6d9de;
$c-dhs-red-20: #eebdc5;
$c-dhs-red-30: #e08493;
$c-dhs-red-40: #d24b62;
$c-dhs-red: #c41230;
$c-dhs-red-60: #950e24;
$c-dhs-red-70: #660919;
$c-dhs-red-80: #37050d;
$c-dhs-red-90: #080102;

// Light blue
$c-dhs-light-blue-05: #f5fafc;
$c-dhs-light-blue-10: #d6e9f2;
$c-dhs-light-blue-20: #b8d9e8;
$c-dhs-light-blue-30: #7ab9d5;
$c-dhs-light-blue-40: #3d98c1;
$c-dhs-light-blue: #0078ae;
$c-dhs-light-blue-60: #005b84;
$c-dhs-light-blue-70: #003e5a;
$c-dhs-light-blue-80: #002231;
$c-dhs-light-blue-90: #000507;

// Green
$c-dhs-green-05: #f9fbf7;
$c-dhs-green-10: #e5eede;
$c-dhs-green-20: #d2e2c6;
$c-dhs-green-30: #abc994;
$c-dhs-green-40: #85b063;
$c-dhs-green: #5e9732;
$c-dhs-green-60: #477326;
$c-dhs-green-70: #314f1a;
$c-dhs-green-80: #1a2a0e;
$c-dhs-green-90: #040602;

// ==========================================================================
// Color
// Overridden using variables from above. Use `_uswds-theme-color.scss` as a reference.
// ==========================================================================

// Primary colors
$theme-color-primary-family: "blue-cool";
$theme-color-primary-lightest: $c-dhs-light-blue-10;
$theme-color-primary-lighter: $c-dhs-light-blue-20;
$theme-color-primary-light: $c-dhs-light-blue-40;
$theme-color-primary: $c-dhs-light-blue;
$theme-color-primary-vivid: "cyan-50v";
$theme-color-primary-dark: $c-dhs-light-blue-60;
$theme-color-primary-darker: $c-dhs-light-blue-70;
$theme-color-primary-darkest: $c-dhs-light-blue-80;

// Base colors aka grays
$theme-color-base-family: "gray";
$theme-color-base-lightest: $c-dhs-gray-10;
$theme-color-base-lighter: $c-dhs-gray-20;
$theme-color-base-light: $c-dhs-gray-30;
$theme-color-base: $c-dhs-gray;
$theme-color-base-dark: $c-dhs-gray-60;
$theme-color-base-darker: $c-dhs-gray-70;
$theme-color-base-darkest: $c-dhs-gray-80;
$theme-color-base-ink: "black";

// Secondary colors
$theme-color-secondary-family: "red-cool-60v";
$theme-color-secondary-lightest: $c-dhs-red-10;
$theme-color-secondary-lighter: $c-dhs-red-20;
$theme-color-secondary-light: $c-dhs-red-30;
$theme-color-secondary: $c-dhs-red;
$theme-color-secondary-vivid: "red-50v";
$theme-color-secondary-dark: $c-dhs-red-60;
$theme-color-secondary-darker: $c-dhs-red-70;
$theme-color-secondary-darkest: $c-dhs-red-80;

//
// State Palette Colors
// ==========================================================================
// Error colors

// Error alert background color.
$theme-color-error-lighter: $c-dhs-red-05;
// Error alert border color.
$theme-color-error: $c-dhs-red;

// Warning colors
$theme-color-warning-family: "yellow";
$theme-color-warning-lighter: "yellow-5";
$theme-color-warning-light: "yellow-10v";
$theme-color-warning: "yellow-20v";
$theme-color-warning-dark: "yellow-30v";
$theme-color-warning-darker: "yellow-50v";

// Info colors

// Info alert background color.
$theme-color-info-lighter: $c-dhs-light-blue-05;
$theme-color-info-light: $c-dhs-light-blue-20;
// Info alert border color.
$theme-color-info: $c-dhs-light-blue;
$theme-color-info-dark: $c-dhs-light-blue-60;
$theme-color-info-darker: $c-dhs-light-blue-70;

//
// General Colors
// ==========================================================================
// Links
$theme-link-color: "blue-60v";
$theme-link-visited-color: "violet-70v";
$theme-link-hover-color: "blue-70v";
$theme-link-active-color: "blue-80v";
$theme-link-reverse-color: "gray-10";
$theme-link-reverse-hover-color: "gray-5";
$theme-link-reverse-active-color: "white";


// ==========================================================================
// General Settings - from `_uswds-theme-general.scss`.
// ==========================================================================
// Set to `false` when developing.
$theme-show-notifications: false;


// ==========================================================================
// Typography - from `_uswds-theme-typography.scss`.
// ==========================================================================
$theme-font-type-sans: "source-sans-pro";
$theme-global-link-styles: true;


// ==========================================================================
// Component Overrides - from `_uswds-theme-components.scss`.
// ==========================================================================
//
// Components come with settings that allow you to easily customize globally.
// If you need more refined styles per section of your site use custom styles.
// You can view all of the component settings at https://designsystem.digital.gov/documentation/settings/
// Click on `type` to get a reference of available options.
//

//
// Buttons
// ==========================================================================
// https://designsystem.digital.gov/design-tokens/spacing-units/
$theme-button-border-radius: "sm";

//
// Identifier
// ==========================================================================

//
// Learn more about colors:
// https://designsystem.digital.gov/design-tokens/color/system-tokens/
//
// Uses https://civicactions.github.io/uswds-color-tool/ to find the closest color to `$c-dhs-blue`
$theme-identifier-background-color: "blue-cool-60v";

//
// Cards
// ==========================================================================
$theme-card-border-radius: "md";
// Closest USWDS Color to $c-dhs-dark-gray
$theme-card-border-color: "gray-60";
$theme-card-border-width: 1px;
