/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-site-alert--emergency,
.usa-site-alert--emergency .usa-alert {
  //background-color: color("secondary");
}

.usa-hero {
  background-image: url(/assets/uswds/img/Zombies-banner-2-1024x368.jpg);
}

.usa-summary-box {
  margin-top: 1rem !important;
  a:visited {
    color: color('ink');
  }
}

.usa-prose .usa-icon-list {
  margin-top: 1rem !important;
}

.usa-process-list__item::before {
  line-height: 0.6 !important;
}

.usa-process-list__item {
  margin-bottom: -8px !important;
}

.usa-collection {
  padding-left: 0 !important;
}

.usa-label, .usa-legend {
  //margin-top: 0.5rem !important;
}