// ==========================================================================
// Custom style overrides
// This file should be imported after your USWDS theme settings overrides.
// If you don't have a setting available to change, you'd override here.
// Meant for manually overriding component styles found in:
// https://github.com/uswds/uswds/tree/develop/src/stylesheets/components
// ==========================================================================

$custom-image-dir: "../../img";

// ==========================================================================
// Header
// ==========================================================================
.site-header.usa-header {

  .usa-logo__text a {
    @include add-background-svg("DHS_4R_Blue", $custom-image-dir);
    background-size: cover;
    display: inline-block;
    // px-to-rem() is a built-in USWDS function.
    height: px-to-rem(31px);
    width: px-to-rem(106px);

    @include at-media($theme-header-min-width) {
      height: px-to-rem(72px);
      width: px-to-rem(247px);
    }
  }
}


// ==========================================================================
// Nav
// ==========================================================================
.site-header .usa-nav {
  background-color: color($theme-color-primary-dark);
  color: color("white");

  &__primary {

    // The list containing menu items. 1st level on mobile.
    &-item {
      border-top-color: $theme-color-primary;
    }

    // Menu links on mobile and desktop
    a,
    button {
      color: color("white");

      &:hover {
        color: color("white");
        background-color: color($theme-color-primary-vivid);
      }

      @include at-media($theme-header-min-width) {
        &:hover {
          background-color: transparent;
        }
      }
    }

    // Need to override USWDS.
    .usa-current {
      color: color("white");

      // Border on current link
      &::after {
        background-color: currentColor !important;
        border-radius: radius(0);
      }
    }

    // The border on the rest of the primary links on desktop hover.
    .usa-nav__link:hover::after {
      @include at-media($theme-header-min-width) {
        background-color: currentColor !important;
      }
    }

    // Main menu buttons
    button[aria-expanded="false"] {
      // This mixin allows us to define our own path for our custom images.
      @include add-background-svg("plus-white", $custom-image-dir);

      @include at-media($theme-header-min-width) {
        &,
        &:hover {
          @include add-background-svg("angle-arrow-down-white");
        }
      }
    }

    button[aria-expanded="true"] {
      @include add-background-svg("minus-white", $custom-image-dir);

      @include at-media($theme-header-min-width) {
        background-color: color($theme-color-primary-vivid);
        @include add-background-svg("angle-arrow-up-white");
      }
    }
  }

  &__submenu {
    @include at-media($theme-header-min-width) {
      background-color: color($theme-color-primary-vivid);

      &::before,
      &::after {
        background-color: inherit;
      }
    }
  }

  &__submenu-item {
    border-top-color: $theme-color-primary;
  }
}

//
// Secondary Nav (Search)
// ==========================================================================

// Remove these if you're adding secondary links.
.usa-nav__secondary {
  @include at-media($theme-header-min-width) {
    bottom: px-to-rem(80);
    margin-top: 0;
  }

  .usa-search {
    @include at-media($theme-header-min-width) {
      margin-top: 0;
    }
  }
}

//
// Microsite Nav
// ==========================================================================
.microsite-header {
  background-image: url('../../img/microsite-banner/20_1104_ST_microsite-banner-text-removed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .usa-navbar {
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../../img/microsite-banner/18_0314_ST_microsite-banner@2x.png');
    }
  }

  .usa-logo {
    @include at-media($theme-header-min-width) {
      @include u-margin-y(5);
    }
  }

  .usa-logo__text {
    color: color("white");

    a {
      color: inherit;
    }
  }

  .usa-nav {
    background-color: color("white");
  }

  .usa-nav .usa-current {

    // Border on current link
    &::after {
      border-radius: radius(0);
    }
  }

  .usa-nav__secondary {
    @include at-media($theme-header-min-width) {
      bottom: px-to-rem(198);
    }
  }
}



// ==========================================================================
// Hero
// ==========================================================================
.usa-hero {

  &__callout {
    background-color: $c-dhs-blue;
  }
}

// ==========================================================================
// Cards
// ==========================================================================
// Seen on homepage. A card consisting of header on a blue background and media.
.usa-card-group--primary-bg {

  // Generic styles
  a {
    color: color("white");
    text-decoration: none;
  }

  // Component elements
  .usa-card__container {
    background-color: $c-dhs-blue;
  }

  // Uses spacing tokens seen here:
  // https://designsystem.digital.gov/design-tokens/spacing-units/#using-spacing-unit-tokens
  .usa-card__header {
    padding-top: units(1);
    padding-bottom: units(1);
  }

  .usa-card__heading {
    font-size: size('body', 'md');
    text-align: center;
  }
}

// ==========================================================================
// Footer
// ==========================================================================

// Additional social networks
.usa-social-link--flickr {
  @include add-background-svg("social-icons/flickr", $custom-image-dir);
}

.usa-social-link--instagram {
  @include add-background-svg("social-icons/instagram", $custom-image-dir);
}

.usa-social-link--linkedin {
  @include add-background-svg("social-icons/linkedin", $custom-image-dir);
}

.usa-social-link--email {
  @include add-background-svg("social-icons/email", $custom-image-dir);
}
