/*
========================================
PROJECT THEME SETTINGS
----------------------------------------
*/

/*
----------------------------------------
Root font size
----------------------------------------
Sets the font size of the html root
for rem calculations
----------------------------------------
*/

$theme-root-font-size: 16px;

/*
----------------------------------------
Border box sizing
----------------------------------------
When set to true, it sets the box-sizing
property of all elements to
`border-box`.
----------------------------------------
*/

$border-box-sizing: true;

/*
----------------------------------------
Paths
----------------------------------------
Relative font and image file paths
----------------------------------------
*/

$theme-font-path:   '../fonts/uswds';
$theme-image-path:  '../img/uswds';

$theme-output-breakpoints: (
  'card':            false,   // 160px
  'card-lg':         false,   // 240px
  'mobile':          true,    // 320px
  'mobile-lg':       true,    // 480px
  'tablet':          true,    // 640px
  'tablet-lg':       true,    // 800px
  'desktop':         true,    // 1040px
  'desktop-lg':      false,   // 1200px
  'wide':            false,   // 1400px
);

/*
----------------------------------------
Custom font definitions
----------------------------------------
Add a new custom font definition if
your project uses a typeface we've
not already defined.
----------------------------------------
The following faces already are
defined in the system:

'system'
'united-sans'
'source-sans-pro'
'helvetica'
'georgia'
'merriweather'
'roboto-mono'
----------------------------------------
*/

$theme-font-definitions: (
  /*
  font-new: (
    name: "Font Display Name",
    dir: "folder-name", // relative to settings.$theme-font-path
    stack: $font-stack-system,
    system-font: false,
    cap-height: "364px", // height of a 500px `N` in Sketch
    variable-font: false,
    roman: (
      100: "Filename-without-extension", // or false
      200: "Filename-without-extension", // or false
      300: "Filename-without-extension", // or false
      400: "Filename-without-extension", // or false
      500: "Filename-without-extension", // or false
      600: "Filename-without-extension", // or false
      700: "Filename-without-extension", // or false
      800: "Filename-without-extension", // or false
      900: "Filename-without-extension", // or false
    ),
    italic: (
      100: "Filename-without-extension", // or false
      200: "Filename-without-extension", // or false
      300: "Filename-without-extension", // or false
      400: "Filename-without-extension", // or false
      500: "Filename-without-extension", // or false
      600: "Filename-without-extension", // or false
      700: "Filename-without-extension", // or false
      800: "Filename-without-extension", // or false
      900: "Filename-without-extension", // or false
    ),
  ),
  */
);

/*
----------------------------------------
Fonts in use
----------------------------------------
Set the sans, serif, and mono faces for
your project
----------------------------------------
currently available:

'system'
'united-sans'
'source-sans-pro'
'helvetica'
'georgia'
'merriweather'
'roboto-mono'
----------------------------------------
*/

$theme-font-mono:   'roboto-mono';
$theme-font-sans:   'united-sans';
$theme-font-serif:  'georgia';
$theme-font-cond:   false;

/*
----------------------------------------
Fonts by type
----------------------------------------
Set the heading, body, code, and alt
faces for your project from

$theme-font-sans
$theme-font-serif
$theme-font-mono
$theme-font-cond
----------------------------------------
*/

$theme-font-heading:  $theme-font-sans;
$theme-font-body:     $theme-font-sans;
$theme-font-code:     $theme-font-mono;
$theme-font-alt:      false;

/*
----------------------------------------
Type scale
----------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------
*/

$theme-type-scale-micro:         1;
$theme-type-scale-smallest:      3;
$theme-type-scale-smaller:       5;
$theme-type-scale-small:         6;
$theme-type-scale-base:          7;
$theme-type-scale-large:         10;
$theme-type-scale-larger:        12;
$theme-type-scale-largest:       14;
$theme-type-scale-mega:          16;

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/

$theme-output-all-weights:        true;

$theme-font-weight-thin:          100;
$theme-font-weight-light:         300;
$theme-font-weight-normal:        400;
$theme-font-weight-medium:        500;
$theme-font-weight-semibold:      600;
$theme-font-weight-bold:          700;
$theme-font-weight-heavy:         900;

/*
----------------------------------------
Palette colors
----------------------------------------
*/

$theme-color-base-family:         'gray';
$theme-color-base-lightest:       $theme-color-base-family, 1;
$theme-color-base-lighter:        $theme-color-base-family, 5;
$theme-color-base-light:          $theme-color-base-family, 10;
$theme-color-base:                $theme-color-base-family, 30;
$theme-color-base-dark:           $theme-color-base-family, 50;
$theme-color-base-darker:         $theme-color-base-family, 70;
$theme-color-base-darkest:        $theme-color-base-family, 90;
$theme-color-text:                $theme-color-base-darkest;

$theme-color-primary-family:      'blue';
$theme-color-primary-lighter:     $theme-color-primary-family, 10;
$theme-color-primary-light:       $theme-color-primary-family, 30;
$theme-color-primary:             $theme-color-primary-family, 60, vivid;
$theme-color-primary-vivid:       'blue-warm', 60, vivid;
$theme-color-primary-dark:        'blue-warm', 70, vivid;
$theme-color-primary-darker:      'blue-warm', 80, vivid;

$theme-color-secondary-family:    'red';
$theme-color-secondary-light:     $theme-color-secondary-family, 40;
$theme-color-secondary:           $theme-color-secondary-family, 60;
$theme-color-secondary-vivid:     $theme-color-secondary-family, 50, vivid;
$theme-color-secondary-dark:      $theme-color-secondary-family, 80;

$theme-color-accent-warm-family:  'orange';
$theme-color-accent-warm:         $theme-color-accent-warm-family, 30, vivid;
$theme-color-accent-warm-dark:    $theme-color-accent-warm-family, 40, vivid;

$theme-color-accent-cool-family:  'cyan';
$theme-color-accent-cool:         $theme-color-accent-cool-family, 30, vivid;
$theme-color-accent-cool-dark:    $theme-color-accent-cool-family, 40, vivid;

/*
----------------------------------------
State colors
----------------------------------------
*/

// Error colors
$theme-color-error:            red;
$theme-color-error-lighter:    $theme-color-error, 30, vivid;
$theme-color-error-light:      $theme-color-error, 40, vivid;
$theme-color-error-base:       $theme-color-error, 50, vivid;
$theme-color-error-dark:       $theme-color-error, 60;
$theme-color-error-darker:     $theme-color-error, 70;

// Warning colors
$theme-color-warn:             orange;
$theme-color-warn-lighter:     $theme-color-warn, 10;
$theme-color-warn-light:       $theme-color-warn, 20, vivid;
$theme-color-warn-base:        $theme-color-warn, 30, vivid;
$theme-color-warn-dark:        $theme-color-warn, 40;
$theme-color-warn-darker:      $theme-color-warn, 50;

// Success colors
$theme-color-success:          green-cool;
$theme-color-success-lighter:  $theme-color-success, 20, vivid;
$theme-color-success-light:    $theme-color-success, 30, vivid;
$theme-color-success-base:     $theme-color-success, 40, vivid;
$theme-color-success-dark:     $theme-color-success, 50;
$theme-color-success-darker:   $theme-color-success, 70;

// Disabled color
$theme-color-disabled:         gray;
$theme-color-disabled-base:    $theme-color-disabled, 30;

/*
----------------------------------------
Border radius
----------------------------------------
2px         2px
sp5         4px
s1          8px
s1p5        12px
s2          16px
s3          24px
s4          32px
s5          40px
s6          48px
s7          56px
s8          64px
s9          72px
----------------------------------------
*/

$theme-border-radius-small:       2px;
$theme-border-radius-base:        '05';
$theme-border-radius-large:       2;
