<!doctype html>
<html lang="en">
{% include "head.html" %}
  <body class="{{ page.body }}">
    {% include "skipnav.html" %}
    {% include "banner.html" %}
    {% include "header--extended.html" %}
    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {% include "breadcrumb.html" %}
        {{ content }}
        <div class="grid-container">
          <div class="grid-row grid-gap-4">
            <div class="grid-col-3">
              <div class="usa-form-group">
                <label class="usa-label" id="appointment-date-label" for="appointment-date"
                  >Appointment date</label
                >
                <div class="usa-hint" id="appointment-date-hint">mm/dd/yyyy</div>
                <div class="usa-date-picker">
                  <input
                    class="usa-input"
                    id="appointment-date"
                    name="appointment-date"
                    aria-labelledby="appointment-date-label"
                    aria-describedby="appointment-date-hint"
                  />
                </div>
              </div>
            </div>
            <div class="grid-col-9">
              <div class="usa-form-group">
                <label class="usa-label" id="appointment-date-label" for="appointment-date"
                  >Appointment date</label
                >
                <div class="usa-hint" id="appointment-date-hint">mm/dd/yyyy</div>
                <div class="usa-date-picker">
                  <input
                    class="usa-input"
                    id="appointment-date"
                    name="appointment-date"
                    aria-labelledby="appointment-date-label"
                    aria-describedby="appointment-date-hint"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include "footer.html" %}
    {% include "identifier.html" %}
    <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
  </body>
</html>
