<!doctype html>
<html lang="en">
{% include "head.html" %}
  <body class="{{ page.body }}">
    {% include "skipnav.html" %}
    {% include "banner.html" %}
    {% include "header--extended.html" %}
    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {% include "breadcrumb.html" %}
        {{ content }}
        <a
          href="#example-modal-1"
          class="usa-button"
          aria-controls="example-modal-1"
          data-open-modal>Open default modal
        </a>
        <div
            class="usa-modal"
            id="example-modal-1"
            aria-labelledby="modal-1-heading"
            aria-describedby="modal-1-description"
            >
          <div class="usa-modal__content">
            <div class="usa-modal__main">
              <h2 class="usa-modal__heading" id="modal-1-heading">
                Are you sure you want to continue?
              </h2>
              <div class="usa-prose">
                <p id="modal-1-description">
                  You have unsaved changes that will be lost.
                </p>
              </div>
              <div class="usa-modal__footer">
                <button type="button" class="usa-button" id="add-button">
                  Add Button
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include "footer.html" %}
    {% include "identifier.html" %}
    <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
    <script>
      const addButton = document.getElementById('add-button');
      addButton.addEventListener('click', () => {
        const newButton = document.createElement('button');
        newButton.textContent = 'Button';
        addButton.after(newButton);
      });
    </script>
  </body>
</html>
