---
---

<!doctype html>
<html lang="en">
{% include "head.html" %}
  <body class="{{ page.body }}">
    {% include "skipnav.html" %}
    {% include "banner.html" %}
    {%  if alert_type == "status" %}
      {% include "zebra/site-alert.html" %}
      {% elsif alert_type =="emergency" %}
      {% include "zebra/site-alert--emergency.html" %}
    {% endif %}
    {% include "zebra/header.html" %}

    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {{ content }}
      </div>
    </main>

    {% include "zebra/footer.html" %}

    <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
  </body>
</html>
