---
---

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body class="height-full">
    {% include "skipnav.html" %}
    {% if alert_before_banner == true and alert_type =="emergency" %}
      {% include "zebra/site-alert--emergency.html" %}
    {% endif %}
    {% include "banner.html" %}
    {% if alert_type == "status" %}
      {% include "zebra/site-alert.html" %}
    {% elsif alert_type =="emergency" and alert_before_banner == false %}
      {% include "zebra/site-alert--emergency.html" %}
    {% endif %}
    {% include "zebra/header.html" %}

    {% if breadcrumb %}
    <div class="grid-container">
      {% include "zebra/breadcrumb.html" %}
    </div>
    {% endif %}

    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {% if form %}
        <h1>{{ zebra.title }}</h1>

        <form class="usa-form usa-form--large">
          {% include "zebra/intro.html" %}
        {% endif %}

          {{ content }}

        {% if form %}
          {% include "zebra/form-reservation.html" %}
        </form>
        {% endif %}
      </div>
    </main>

    {% include "zebra/footer.html" %}

    <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
  </body>
</html>
