---
---

<!DOCTYPE html>
<html lang="en">
  {% render "head.html" %}
  <body class="height-full">
    {% render "skipnav.html" %}
    {% if alert_before_banner == true and alert_type =="emergency" %}
      {% render "zebra/site-alert--emergency.html" %}
    {% endif %}
    {% render "banner.html" %}
    {% if alert_type == "status" %}
      {% render "zebra/site-alert.html" %}
    {% elsif alert_type =="emergency" and alert_before_banner == false %}
      {% render "zebra/site-alert--emergency.html" %}
    {% endif %}
    {% render "zebra/header.html" %}

    {% if breadcrumb %}
    <div class="grid-container">
      {% render "zebra/breadcrumb.html" %}
    </div>
    {% endif %}

    <main id="main-content">
      <div class="grid-container usa-prose padding-y-3">
        {% if form %}
        <h1>{{ zebra.title }}</h1>

        <form class="usa-form usa-form--large">
          {% render "zebra/intro.html" %}
        {% endif %}

          {{ content }}

        {% if form %}
          {% render "zebra/forms/{{ form }}.html" %}
        </form>
        {% endif %}

      </div>
    </main>

    {% render "zebra/footer.html" %}

    <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
  </body>
</html>
