@use "uswds-core" with (
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,

  // ↓↓↓ TEST VARIABLES ↓↓↓
  // Only use one at a time
  
  $theme-card-border-width: 0
  // $theme-card-border-width: "05"
);