@use "uswds-core" as *;

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

* + .usa-site-alert .usa-alert {
    margin-top: 0;
}

[role="tab"][aria-selected="true"] {
    background: #005ea2;
    color: white;
}

.flex {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.usa-radio:focus {
    input {
        outline: 2px solid black;
        outline-offset: 2px;
    }
}

// .usa-radio__label::before {
//     content: none;
// }

#tabbed-interface {
    display: flex;
    flex-direction: column;
}

#tabs {
    margin-bottom: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
