<!--start simple footer-->
<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section">
    <div class="grid-container padding-bottom-2">
      <h2 class="padding-top-2">Contact Us</h2>
      <ul class="usa-icon-list">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ '/assets/img/sprite.svg#phone' |url }}"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">
            Call us at <a class="usa-link" href="tel:5554443333">555-444-3333</a>
          </div>
        </li>
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{ '/assets/img/sprite.svg#mail_outline' |url }}"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">Email us at <a class="usa-link" href="mailto:purplestone@parks.gov">purplestone@parks.gov</a></div>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--start simple footer-->