<!--start simple header-->
<header class="usa-header usa-header--basic bg-ink">
  <div class="usa-nav-container padding-y-1">
    <div class="usa-navbar border-0">
      <div class="usa-logo margin-y-0" id="basic-logo">
        <a class="display-flex flex-align-center" href="javascript:void(0)" title="{{ meta.project.name }}">
          <img class="maxw-4 margin-right-2" src="https://www.nps.gov/theme/assets/dist/images/branding/logo.png" alt="">
          <em class="usa-logo__text text-white font-sans-md">
              {{ meta.project.name }}
          </em>
        </a>
      </div>
    </div>
  </div>
</header>
<!--end simple header-->
