<!--
  Variations from default:
  - Changed select to text input

  Not a standard pattern - should not be reused
-->
<!--start memorable date-->
<fieldset class="usa-fieldset margin-top-0">
  <legend class="usa-legend margin-top-0">
    What is your date of birth?
    <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
  </legend>
  <span class="usa-hint" id="mdHint">Please enter 2 digits for the month and day and 4 digits for the year</span>
  <div class="usa-memorable-date display-flex">
    <div class="usa-form-group usa-form-group--month">
      <label class="usa-label" for="date_of_birth_month">
        Month
        <span class="usa-sr-only">Enter two digits</span>
      </label>
      <input
        class="usa-input"
        id="date_of_birth_month"
        name="date_of_birth_month"
        minlength="2"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        value=""
        required
      />
    </div>
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label" for="date_of_birth_day">
        Day
        <span class="usa-sr-only">Enter two digits</span>
      </label>
      <input
        class="usa-input"
        id="date_of_birth_day"
        name="date_of_birth_day"
        minlength="2"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        value=""
        required
      />
    </div>
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label" for="date_of_birth_year">
        Year
        <span class="usa-sr-only">Enter four digits</span>
      </label>
      <input
        class="usa-input"
        id="date_of_birth_year"
        name="date_of_birth_year"
        minlength="4"
        maxlength="4"
        pattern="[0-9]*"
        inputmode="numeric"
        value=""
        required
      />
    </div>
  </div>
</fieldset>
<!--end memorable date-->