<!--
  Variations from default:
  - Changed select to text input

  Not a standard pattern - should not be reused
-->
<style>
  .usa-memorable-date .usa-form-group {
    margin-top:.25rem;
  }
</style>

<!--start memorable date-->
<fieldset class="usa-fieldset">
  <legend class="usa-legend">
    What is your date of birth?
    <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
  </legend>
   <div class="usa-memorable-date">
    <div class="usa-form-group display-flex">
      <div class="usa-form-group usa-form-group--month">
        <label class="usa-label" for="date_of_birth_month">Month</label>
        <input
          class="usa-input"
          id="date_of_birth_month"
          name="date_of_birth_month"
          minlength="2"
          maxlength="2"
          pattern="[0-9]*"
          inputmode="numeric"
          value=""
          required
          placeholder="MM"
        />
      </div>
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label" for="date_of_birth_day">Day</label>
      <input
        class="usa-input"
        id="date_of_birth_day"
        name="date_of_birth_day"
        minlength="2"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        value=""
        required
        placeholder="DD"
      />
    </div>
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label" for="date_of_birth_year">Year</label>
      <input
        class="usa-input"
        id="date_of_birth_year"
        name="date_of_birth_year"
        minlength="4"
        maxlength="4"
        pattern="[0-9]*"
        inputmode="numeric"
        value=""
        required
        placeholder="YYYY"
      />
    </div>
  </div>
</fieldset>
<!--end memorable date-->