<!--start memorable date-->
<fieldset class="usa-fieldset">
  <legend class="usa-legend">
    What is your date of birth?
    <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
  </legend>
  <span class="usa-hint" id="mdHint">For example: January 19 2000</span>
  <div class="usa-memorable-date">
    <div class="usa-form-group usa-form-group--month usa-form-group--select">
      <label class="usa-label" for="date_of_birth_month">Month</label>
      <select
        class="usa-select"
        id="date_of_birth_month"
        name="date_of_birth_month"
        aria-describedby="mdHint"
        required
      >
        <option value>- Select -</option>
        <option value="1">01 - January</option>
        <option value="2">02 - February</option>
        <option value="3">03 - March</option>
        <option value="4">04 - April</option>
        <option value="5">05 - May</option>
        <option value="6">06 - June</option>
        <option value="7">07 - July</option>
        <option value="8">08 - August</option>
        <option value="9">09 - September</option>
        <option value="10">10 - October</option>
        <option value="11">11 - November</option>
        <option value="12">12 - December</option>
      </select>
    </div>
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label" for="date_of_birth_day">Day</label>
      <select
        class="usa-select"
        id="date_of_birth_day"
        name="date_of_birth_day"
        aria-describedby="mdHint"
        required
      >
        <option value>- Select -</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="30">31</option>
      </select>
    </div>
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label" for="date_of_birth_year">Year</label>
      <select
      class="usa-select"
      id="date_of_birth_day"
      name="date_of_birth_day"
      aria-describedby="mdHint"
      required
    >
      <option value>- Select -</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
    </select>
    </div>
  </div>
</fieldset>
<!--end memorable date-->