<!--start radio activities-->
<fieldset class="usa-fieldset">
  <legend class="usa-legend">
    Choose the activity you want to reserve (select one option):
    <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
  </legend>
  <div class="usa-radio">
    <input
      class="usa-radio__input usa-radio__input--tile"
      id="coyote-camp"
      type="radio"
      name="activity"
      value="coyotes"
      required
    />
    <label class="usa-radio__label" for="coyote-camp">
      Camp among the coyotes
    </label>
  </div>
  <div class="usa-radio">
    <input
      class="usa-radio__input usa-radio__input--tile"
      id="buffalo-fly"
      type="radio"
      name="activity"
    />
    <label class="usa-radio__label" for="buffalo-fly">
      Fly over buffalo valley
    </label>
  </div>
  <div class="usa-radio">
    <input
      class="usa-radio__input usa-radio__input--tile"
      id="secret-hike"
      type="radio"
      name="activity"
      value="hike"
    />
    <label class="usa-radio__label" for="secret-hike">
      Hike the secret trail
    </label>
  </div>
  <div class="usa-radio">
    <input
      class="usa-radio__input usa-radio__input--tile"
      id="salmon-bear"
      type="radio"
      name="activity"
      value="bear"
    />
    <label class="usa-radio__label" for="salmon-bear">
      Watch bear hunt for salmon
    </label>
  </div>
  <div class="usa-radio">
      <input
        class="usa-radio__input usa-radio__input--tile"
        id="atv-buffalo"
        type="radio"
        name="activity"
        value="atv"
        aria-disabled="true"
        onclick="preventClick(event);"
      />
      <label class="usa-radio__label" for="atv-buffalo" style="pointer-events: none;">
        Ride an ATV among the buffalo<br/>
        <span class="text-italic font-sans-2xs">This activity is currently unavailable because the buffalos are migrating.</span>
      </label>
  </div>
</fieldset>
<!--end radio activities-->

<script>
  function preventClick(e) {
     e.preventDefault();
  }
</script>