<!--
  TODO
  - Make this component reusable by using data to set the site-alert type, text content, and aria-label

  Variations from default:
  - Changed text content
  - Added utility classes

  Could be made reusable
-->

<!--start site alert-->
<section class="usa-site-alert usa-site-alert--no-icon  usa-site-alert--info" aria-label="Site alert">
  <div class="usa-alert margin-top-0">
    <div class="usa-alert__body">
      <p class="usa-alert__text text-bold">
        Alert: Some parts of Purplestone are currently closed due to our buffalo herd's annual migration to the south.
      </p>
    </div>
  </div>
</section>
<!--end site alert-->