---
layout: default
---
<div class="usa-section">
  <div class="content__wrapper grid-container">
    <div class="grid-row grid-gap-4">
      <div class="tablet:grid-col-3">
        <aside class="content__sidebar">
          <nav aria-label="Secondary navigation">
            <ul class="usa-sidenav">
              <li class="usa-sidenav__item usa-current">
                <a href="">Parent Link</a>
              </li>
              <li class="usa-sidenav__item"><a href="">Parent Link</a></li>
              <li class="usa-sidenav__item"><a href="">Parent Link</a></li>
              <li class="usa-sidenav__item"><a href="">Parent Link</a></li>
            </ul>
          </nav>
        </aside>
      </div>
      <div class="tablet:grid-col-9">
        <main class="content__main usa-prose">
          {{ content }}
        </main>
      </div>
    </div>
  </div>  
</div>
