<!DOCTYPE html>
<html class="min-height-viewport color-black-90 font-family-sans" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="margin-0 size-sans-6 desktop:size-sans-8 line-height-sans-4 min-height-viewport{% if page.body_color %} bg-{{ page.body_color }}{% endif %}">

    <main aria-label="Content">
      {{ content }}
    </main>

    {% comment %}
    <script src="{{ "/assets/js/build/main.js" | relative_url }}"></script>
    {% endcomment %}
</body>

</html>
